[2013-07-26 17:44] ritch opened #5 "slnode create package includes unrelated dependencies"
@Schoonology @sam-github

When I run `slnode create package foo` I expect the package.json dependencies to be pretty minimal. Currently this is what I get.

[code]

This seems to be a regression, because originally this was working. It looks like the package.json from `slnode create web foo` is being used somehow.

[2013-07-31 19:27] sam-github opened #6 ""slnode create module" creates a web app called module"
this is not what the command line docs say. ditto for cli and package.

[2013-08-05 17:51] #5 closed, assigned to nobody

[2013-08-15 23:16] #6 closed, assigned to nobody

[2013-08-15 23:21] sam-github opened #11 "slc create web --help doesn't work"
The slc loader steals --help, so always just gives help for the create command, not the sub-command. I "fixed" this by pulling the usage infor for all the types into man/create,  and removing the documentation which said that `slc create web --help` would do something useful.

This works quite well, except... it is still possible to get what slc-create thinks is the usage information for itself, o

[2013-08-16 19:43] sam-github opened #12 "web is not uniformly treated as default type for create, can we remove default?"
I think we should remove the statements that web is the default type, and the (buggy) code that tries to make that true.

I don't think the web-by-default behaviour is actually useful, there's no reason not to type 3 more chars and make it explicit, and I'd think people would create more modules or packages than web apps, anyhow.

If we don't remove the default, we need to fix it so web actually i

[2013-08-16 20:22] ritch opened #13 "sub command support"
For slc-create we need sub command support. Here is a simple example:

`slc create web my-project`.
- command: `create`
- sub command `web`

@Schoonology is this possible with the current command loader? Can I just create a single command that looks like a sub command?

[2013-08-21 20:18] sam-github opened #27 "parameterless run breaks a paramaterless invocation of slc"
/to @bajtos

`slc` used to give usage, but now it does various weird stuff:
- called outside of a package, it errors:

  Error: Cannot find module '/home/sam/w/slnode'
- called inside slc as `./bin/slc` it busyloops, you have to kill from another terminal
- called inside a package, it just starts a repl?

I don't think that a paramaterless call of slc should start a repl, that seems unhelpful. I'd

[2013-08-23 14:49] #27 closed, assigned to bajtos

[2013-09-06 20:25] ritch opened #46 "Cannot find module after creating LoopBack app"
/to @sam-github
/cc @chandadharap

To reproduce:

[code]

Output:

[code]

Potential fix:
- Need to add missing dependencies to the generated package.json
  - strong-agent
  - strong-cluster-control
- run install after creating the app

[2013-09-09 19:18] #46 closed, assigned to sam-github

[2013-09-12 23:28] ritch opened #58 "Factor out redundancy in create and lb"
- [ ] **lb** - remove custom flag parser / use optmist
- [ ] **create** - drop commander in favor of prompt

[2013-09-20 19:18] #12 closed, assigned to nobody

[2013-10-29 04:40] #13 closed, assigned to nobody

[2013-12-17 16:13] emirotin opened #95 "Error installing on OS X Maverics: shasum check failed"
Node installed from MacPorts if it matters.

Other packages (like `http-server`, for example) install ok.
Installing globally `sudo npm install -g strong-cli`:

[code]

[2013-12-17 19:38] #95 closed, assigned to nobody

[2014-01-08 15:19] Schoonology opened #98 "`slc lb model -i <name>` doesn't work"
Instead, `slc lb model <name> -i` is required.

[2014-02-14 08:14] ghost opened #105 "Install strong-cli takes to much time"
I install strong-cli and the process still not finish. It takes about 1 and a half hour. Here is the snapshot of my console:

npm http 304 https://registry.npmjs.org/readable-stream
npm http 304 https://registry.npmjs.org/commander
npm http 304 https://registry.npmjs.org/nan
npm http 200 https://registry.npmjs.org/he
npm http 200 https://registry.npmjs.org/simplesmtp
npm http 200 https://registry.

[2014-02-17 17:32] mschmulen opened #107 "small issue with slc and loopback"
Having a small issue with slc and loopback ( Mon Feb 17 11:29:14 CST 2014 )

running the commands:

[code]

Results with the following error:

[code]

not sure what the issue is, any help appreciated .

M.

[2014-02-18 02:21] #107 closed, assigned to nobody

[2014-02-21 23:14] mauron85 opened #110 "Error creating project"
slc lb project myproject
returns

[code]

OS: OS X 10.9
npm version: 1.4.3
stronloop-cli version: 2.3.0

[2014-02-28 18:54] #105 closed, assigned to nobody

[2014-02-28 18:56] #58 closed, assigned to ritch

[2014-02-28 18:57] #11 closed, assigned to nobody

[2014-03-10 21:34] #110 closed, assigned to nobody

[2014-03-18 06:47] nicnocquee opened #120 "Cannot run example project"
Hi, I'm trying to run the example project, but I got this error instead

[code]

Tried `npm update -g strong-supervisor` and `slc run .` again, but still no luck.
Any ideas?

On OSX 10.9.2.
npm 1.4.3
node 0.10.26
slc v2.4.5 (node v0.10.26)

[2014-03-19 00:16] #120 closed, assigned to nobody

[2014-03-21 20:22] raymondfeng opened #123 "strong-cli fails to install"
root@localhost ~]# npm install -g strong-cli
npm http GET https://registry.npmjs.org/strong-cli
npm http 200 https://registry.npmjs.org/strong-cli
npm http GET https://registry.npmjs.org/strong-cli/-/strong-cli-2.4.6.tgz
npm http 200 https://registry.npmjs.org/strong-cli/-/strong-cli-2.4.6.tgz

Attempting to pre-install peerDependencies:
  node-inspector@~0.7.0
  strong-cluster-control@~0.4.0
  st

[2014-03-25 06:45] manV opened #127 "slc command not found"
I did installed strong-cli successfully with
         sudo npm install -g strong-cli
but when I run slc command it says
        no command 'slc' found

my system xubuntu 13.10
node version 0.10.25
npm version 1.3.24

[2014-03-25 19:14] #123 closed, assigned to sam-github

[2014-03-26 06:15] #127 closed, assigned to nobody

[2014-05-11 15:57] FGRibreau opened #135 "No compatible version found: rimraf@'^2.2.6'"
[code]

[2014-05-11 19:22] #135 closed, assigned to nobody

[2014-05-22 15:24] kYuZz opened #136 ""slc example" seems to be broken"
I can't create the example application.

[code]

How can I work around this?

[2014-05-22 19:25] jhollar opened #137 "Error: No compatible version found: semver@"
after I upgraded npm using
npm upgrade

I ran this command
npm install -g strong-cli

error received is:
npm http 304 https://registry.npmjs.org/inquirer
npm ERR! Error: No compatible version found: semver@'^2.2.1'
npm ERR! Valid install targets:
npm ERR! ["1.0.0","1.0.1","1.0.2","1.0.3","1.0.4","1.0.5","1.0.6","1.0.7","1.0.8","1.0.9","1.0.10","1.0.11","1.0.12","1.0.13","1.0.14","1.1.0","1.1.1","1

[2014-05-23 13:51] #137 closed, assigned to nobody

[2014-05-23 19:20] #136 closed, assigned to raymondfeng

[2014-06-05 20:50] #98 closed, assigned to nobody

[2014-06-09 22:45] henrytseng opened #139 "'appRootDir' not recognized"
Looks like calling `slc` does not recognize an appRootDir other than ./

Is there a hidden option?

[2014-06-10 16:13] #139 closed, assigned to nobody

[2014-06-12 00:58] rmg opened #140 "slc should proxy signals"
Using `slc run` from an init script does not behave well because it insulates strong-supervisor from signals sent by init.

A work around is to use `sl-run` in init scripts instead of `slc run`.

[2014-07-16 21:51] #140 closed, assigned to nobody

[2014-07-17 23:55] sam-github opened #148 "slc example broken, and npm install"
[code]

[2014-07-18 00:08] #148 closed, assigned to raymondfeng

[2014-07-30 01:01] DamonOehlman opened #153 "LICENSE and Repository URL links are broken in package.json"
Tried exploring some of the details of the strongloop package from the npmjs.org details...

[2014-07-31 17:14] #153 closed, assigned to nobody

[2014-08-14 12:00] tantou opened #161 "something wrong with slc command"
use the lastest version :slc to render project layout,like below

[code]

the `client` folder I use `ember-cli` to generate ,so the client also has a `package.json` file,
so ,here is the question:
if I run the command:

[code]

to render model,the `client/package.json` will cover the `package.json`,
I have try many times, and have update to the latest version of `strongloop`
my question:
1.is the

[2014-08-16 00:11] maruf89 opened #162 "Concatenate slc run + runctl commands"
I must be doing something wrong because the only way I can get my cluster up and running is by initiating the master process via `slc run` and then in a separate tab start the clustered workers via `slc run --cluster=cpus`

Is there a way to run with clusters so that it starts the master process?

[2014-08-18 05:28] #162 closed, assigned to nobody

[2014-08-25 13:20] pungoyal opened #164 "strongloop does not install"
when I do:

[code]

I get:

[code]

[2014-08-25 18:00] #164 closed, assigned to nobody

[2014-08-28 14:15] sonicoder86 opened #166 "Unable to install"
Im on Ubuntu:

[code]

[2014-08-29 21:49] #166 closed, assigned to nobody

[2014-09-17 05:15] ladaltamirano opened #170 "Build system broken on Windows 8.1 while npm install -g strongloop"
I've even tried npm install -g strongloop --msvs_version=2013 , with pythons 2.7, correctly PYTHON var set and visual studio express 2013 installed with update 3, but no works..., this is some most important output:

[code]

[2014-09-30 01:23] aams opened #171 "Cannot build on Windows - filename too long"
Trying to build

[code]

I get this error:

[2014-10-01 16:27] #171 closed, assigned to nobody

[2014-10-01 19:06] cajoy opened #172 "How to set up node env?"
I tried

[code]

but it doesn't work for some reason :(

[2014-10-01 19:07] #172 closed, assigned to nobody

[2014-10-01 20:37] jenglish opened #173 "`slc build` hangs with git <= 1.8"
Environment: CentOS 6.5 + EPEL, strongloop v2.9.1 (node v0.10.30).

Symptoms: created a simple "Hello world" express application, initial git commit.
Running `slc build` shows:

| Running `git branch "deploy"`

... then nothing happens.  'slc build' process continues to take up CPU time, but there is no further progress.  Interrupting with ^C and trying again, it just hangs up.

Tried "env DEBUG=s

[2014-10-09 16:53] jrschumacher opened #174 "npm install broken (v2.6.2)"
[code]

OS: OSX v10.9.5 (brew 0.9.5)
node: v0.10.32
npm: 2.1.2

[2014-10-09 19:01] #174 closed, assigned to nobody

[2014-10-16 16:23] #173 closed, assigned to rmg

[2014-10-20 21:00] bitmage opened #175 "`slc loopback:property` renders invalid contents to package.json"
I have a client/package.json that reads:

[code]

When I run `slc loopback:property` and complete the questions, it (correctly) modifies the model JSON, but it also (incorrectly) inserts the client/package.json into my main package.json.  This results in invalid JSON which causes the next call of `slc loopback:property` to crash, among other things.

The resulting package.json looks like this:

[c

[2014-10-26 15:49] pigerla opened #176 "the command 'slc ***' doesn't work after 'npm install -g strongloop'"
After '**npm install -g strongloop**' , when I run command 'slc loopback' , 'slc --version'  , nothing gonna happen , it seem 'slc' doesn't work at all . Did i miss something ?

example:

my environment is :
ubuntu14.04 , nodejs v0.10.25

[2014-10-27 14:10] #176 closed, assigned to nobody

[2014-11-12 14:29] hoonto opened #177 "npm install -g strongloop hangs on ubuntu 14.04"
I've tried using nvm as well as node and npm installed with apt-get.  I've tried using npm 2.1.8, 2.1.7, and 1.4.28.  I've tried after an `npm cache clean -f`

ubuntu 14.04 & node v0.10.33

npm install -g strongloop hangs:

[code]

At which point it hangs for at least an hour and I have to ^C.  If I do an `npm install --verbose -g` then here is the last screen before the hang (using npm installed

[2014-11-18 23:40] #170 closed, assigned to sam-github

[2014-11-19 14:44] #177 closed, assigned to rmg

[2014-11-20 12:17] gagan-bansal opened #178 "not able to install strongloop"
I am not able to install strongloop on ubuntu 12.04.
Here is the last log message after running `sudo npm install -g strongloop`

[code]

There is no such file as mentioned in log

[code]

What steps do I need to take to install properly strongloop?

[2014-11-22 10:54] ariskemper opened #179 "Error: listen EPERM using sharefolder on VirtualBox"
slc version 2.9.2

slc run --cluster=1 app.js

Error: listen EPERM
    at errnoException (net.js:904:11)
    at Server._listen2 (net.js:1023:19)
    at listen (net.js:1064:10)
    at Server.listen (net.js:1132:5)
    at Server.listen (/root/.nvm/v0.10.32/lib/node_modules/strongloop/node_modules/strong-supervisor/node_modules/strong-control-channel/lib/server.js:70:6)
    at Object.start (/root/.nv

[2014-11-22 12:50] talamaska opened #180 "strongloop install on windows 8.1 still failing"
I have installed every software needed. Pyton 2.7.8, VS Express for Windows desktop, npm, node.js.
Running as administrator I see 4 different fails in 4 tries -
strong-build@'^1.0.0'
strong-pm@'^1.0.0'
strong-registry@'^1.0.0'
strong-agent@'^1.0.0'

What is happening? I was hopping for a solid solution for building node.js application.
There is some suggestion to yeoman but this wasn't my initial

[2014-11-27 15:46] ppoliani opened #182 "Arrow keys not working on Windows"
Quite often when I run commands like loopback:relation where you need to select an option, the arrow keys don't work at all. I need to rerun the command multiple time and if i'm lucky i get it work properly.

[2014-11-27 17:05] #182 closed, assigned to nobody

[2014-12-08 03:35] #180 closed, assigned to nobody

[2014-12-11 17:16] #161 closed, assigned to chandadharap

[2014-12-23 21:54] #178 closed, assigned to nobody

[2015-01-05 03:11] sumitha opened #189 "Re: [StrongSupport] Re: Re: support nodejs"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [556](https://strongloop.zendesk.com/agent/#/tickets/556)
**Priority:**
**Zendesk assignee:** SL Support/StrongHelp
 **Severity:** sev4

**Original ticket content:**

This is a follow-up to your previous request #499 "Re: support nodejs"

Hi,

we did actually take a look at the blogs and have everything set up. Our issue is du

[2015-01-05 03:11] sumitha commented on #189
*Comment from Zendesk by amir.allam@elmenus.com at 2014-12-30 14:41:40 UTC:*

<p>This is a follow-up to your previous request <a target="_blank" href="/tickets/499">#499</a> &quot;Re: support nodejs&quot;</p>

<p>Hi,</p>

<p>we did actually take a look at the blogs and have everything set up. Our issue is during CPU spikes, everything in our application stops so that the monitoring and profiling a

[2015-01-05 03:11] sumitha commented on #189
*Comment from Zendesk by stronghelp@strongloop.com at 2015-01-01 02:42:07 UTC:*

<p>Dear Amir,</p>
<p>Thank you for contacting Stronghelp. We have received your enquiry with regards to custom error handling and have logged a case into the Strongloop issue tracking system. Your case is currently being reviewed and we will contact you shortly on the findings or request for more information if it is

[2015-01-05 03:11] sumitha commented on #189
*Comment from Zendesk by sumitha@strongloop.com at 2015-01-02 20:46:16 UTC:*

<p>Michelle, do you guys need help from dev on this if so please escalate.</p>
<p>thanks &amp; Happy New Year.<br>
-Sumitha</p>

[2015-01-05 03:11] sumitha commented on #189
*Comment from Zendesk by stronghelp@strongloop.com at 2015-01-05 02:59:50 UTC:*

<p>Hi Amir,</p>
<p>Would you be able to provide us any logs if available? Could you please also let us know what environment you are using?</p>
<ul type='disc'>
<li type='disc'>Michelle</li>
</ul>

[2015-01-06 01:18] sumitha commented on #189
https://github.com/strongloop-internal/scrum-cs/issues/70

[2015-01-06 01:18] #189 closed

[2015-01-09 17:18] sam-github commented on #179
Blocked on a strong-supervisor release of https://github.com/strongloop/strong-supervisor/pull/82, which make --control work again.

[2015-01-12 20:49] kraman commented on #179
@ariskemper An option you might consider is running you app under strong-pm (`slc pm`) on the root (non-shared) filesystem and then controlled it over HTTP. It would get around any limitations of the shared filesystem.

See http://docs.strongloop.com/display/public/SLC/slc+pmctl

[2015-01-13 09:42] denzelwamburu commented on #107
Am having the same issue when installing Strongloop in my ubuntu machine.Give some error,actually i think it is installing partially but the command 'slc' is not recognized ,how do i fix this :(

[2015-01-13 19:28] rmg commented on #107
@denzelwamburu what is the error you are seeing? Did you uninstall the conflicting packages?

[2015-01-15 06:10] denzelwamburu commented on #107
@rmg i managed to make it run but i had to manually delete some file in usr/bin (or something like that) the installer was unable to do it automatically.Guess the file was placed they by previous installation.

[2015-01-15 17:16] #179 closed

[2015-01-28 21:24] adanielyan commented on #179
I'm trying to setup a development environment on my local Windows 7 machine using vagrant and vbox and get the error described here. I spent almost a week trying different permissions, vagrant configurations and sharing options. But none of them worked so far. I tried vbox native sharing, as well as samba and nfs, but still get the ```Error: listen EPERM``` error. I either can run ```slc arc``` bu

[2015-01-28 22:25] adanielyan commented on #179
I found a more or less working solution. Instead of sharing a folder from host I ended up installing samba server on my guest Ubuntu and sharing a folder on my guest so I can access it from my Windows host. The downside is that the vbox should be running in order to have access to files. If I shut it down or restart I will loose access to the guest machine and my code files and my phpStorm freezes

[2015-01-29 23:25] chandadharap opened #191 "Improve READMEs"
There are three basic classes of repo, I tried to make the READMEs consistent in structure *within a class*.

Top-level packages are described in some detail, and link to strongloop as the CLI/GUI, and to there mini-sites (loopback.io and strong-pm.io):

- process manager, aka strong-pm
- loopback

The common top-level installable is:

- strongloop

It links to both mini sites.

Top-level commands

[2015-02-03 18:10] crandmck opened #192 "Update "slc run" console messages : decprecate strongops"
[code]
Since StrongOps hosted monitoring is [being deprecated](https://github.com/strongloop-internal/scrum-loopback/issues/154) (and eventually EOLed), this message should no longer refer to StrongOps dashboard.   Also, http://docs.strongloop.com/strong-agent redirects to an old page (which I've redirected to the new page) but we should remove the double redirect at some point.

@chandadharap @ij

[2015-02-03 19:44] sam-github commented on #192
We can't drop the first line, if we did, StrongOps users would get completely silent failure when they have misconfigured their API key or app name.

The last 4 lines are noise now, and we can just delete.

[2015-02-03 19:51] chandadharap commented on #192
Hi, Am not sure we agreed to drop it from command line before Node Summit. That means more release churn in two days. @ijroth  for comment.

[2015-02-03 20:01] sam-github commented on #192
https://github.com/strongloop/strongops/commits/master

^--- there are no other commits in strong-agent master ATM pending publish. That means that deleting 4 console.logs and re-releasing is the work of 10 minutes, and is so low risk I don't even know if it needs QE.

Your call.

Cf. https://github.com/strongloop/strongops/blob/master/agent/lib/agent.js#L77-L83

[2015-02-03 20:18] chandadharap commented on #192
Do NOT drop it from commandline at this moment please. There are open questions and answers in another thread. We CANNOT take this out from slc today. Please backlog this issue.

[2015-02-03 20:52] ijroth commented on #192
For a replacement message, how about we advertise a little for Arc:

Running with strong-agent enabled. To see metrics, use profiler and other diagnostic features run:
# slc arc

[2015-02-04 21:37] sam-github opened #193 "slc --version output should include whether strong-agent.node was built"
Lack of .node is most common reason that strongloop fails later, and cpu prof time, for example.

[2015-02-04 21:51] rmg commented on #193
:+1: such an obvious thing to include!

[2015-02-07 06:29] lee-40square opened #194 "Install should register path"
This may only apply to Ubuntu installs but would be nice to have `export PATH=/root/npm/bin:$PATH` added to .bashrc in the install.

[2015-02-07 07:05] rmg commented on #194
That is the purpose of the `-g` in `npm install -g strongloop`. If that does not put `slc` somewhere in your PATH then node and/or npm are not installed correctly.

How did you install node?

[2015-02-10 23:36] lee-40square commented on #194
I installed Node through nvm. And of course `npm install -g strongloop`

[2015-02-11 00:46] sam-github commented on #194
@lee-40square I run Ubuntu, and haven't had any issues. We'll need more info! How did you install node,  what is your `$PATH`, and where is node, `which node`, and npm, `which npm`, and what is your npm config: `npm config list`.

[2015-02-11 02:23] lee-40square commented on #194
I really don't know what to say. This is the 4th bare metal Ubuntu box I've launched and it's working fine mostly.

* Launch a new box on AWS with Ubuntu 14.04.1 LTS
* Install nvm `curl https://raw.githubusercontent.com/creationix/nvm/v0.23.3/install.sh | bash`
* Install node `nvm install 0.12.0` (This is new today. I've been using an earlier version in the past)
* Install git

At this stage every

[2015-02-11 02:34] rmg commented on #194
Each version of node you install with `nvm` get's its own world in which global modules are installed, so if you `nvm use 0.12.0` and then `npm install -g strongloop` then `slc` will _only_ be in your PATH when you do `nvm use 0.12.0`. I've also noticed in my own `nvm` use that it uses the system node as the default if you don't tell it otherwise, so when you do `nvm install x.y.z` you then need t

[2015-02-11 18:16] #194 closed

[2015-02-17 18:28] adanielyan commented on #179
I ended up creating two synced folders. One folder ```/home/vagrant/www``` on my guest machine syncs with the folder on host machine ```./projects```and then there is another folder on my guest ```/var/www``` that syncs with ```/home/vagrant/www```. I edit code on the host machine and it gets synced with the ```/var/www``` through ```/home/vagrant/www```. Then I can run ```slc arc .``` or any othe

[2015-02-17 18:49] rmg commented on #179
@adanielyan you may also be interested in https://github.com/strongloop-community/strongbox or https://github.com/strongloop-community/vagrant-strongnode-mongodb

Or as another starting point for your box, I recently created a [strongloop box](https://atlas.hashicorp.com/strongloop/boxes/node-trusty) that you can get with `vagrant up strongloop/node-trusty --provider virtualbox`

They aren't maint

[2015-02-17 19:05] adanielyan commented on #179
Thanks for sharing! Your configuration files look pretty decent. One difference I noticed and I think is worth mentioning is that in my configuration I install node as vagrant user, not as root. According to some resources it is a better approach.

Also, I noticed this line in your second config option:
```vb.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/v-root",

[2015-03-02 02:32] bingeh opened #200 "error when installing strongloop"
I install strongloop with command `npm install -g strongloop`, but it always show the error

'
gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/0.12.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/local/node/lib/node_modules/strongloop/node_modules/strong-supervisor/node_modules/heapdump/.node-gyp"
'
and I try to use command  `exp

[2015-03-02 02:36] rmg commented on #200
@hzb can you share the full error output? The lines you have included is only showing a warning that would _not_ cause the installation to fail.

[2015-03-02 02:45] bingeh commented on #200
@rmg thanks, here is the full error output

`
[root@localhost node-v0.12.0]# export USER=root && sudo npm install -g strongloop
npm WARN engine npm@1.4.28: wanted: {"node":">=0.8","npm":"1"} (current: {"node":"0.12.0","npm":"2.5.1"})

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/0.12.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "

[2015-03-02 03:03] rmg commented on #200
Your output shows a few non-fatal warnings, but is otherwise successful.

Are you able to run `slc --version`?

Unfortunately there is nothing we can do about those warnings from inside the package. You could run `rm -rf ~/.node-gyp` and re-run the install and it _might_ clear up the permission issue, but it may come back depending on your usage of `sudo`.

[2015-03-02 03:16] bingeh commented on #200
@rmg get error `-bash: slc: command not found` when run  `slc --version`, thanks.

[2015-03-02 03:28] rmg commented on #200
How did you install node? You appear to be using a custom install location that requires adding `/usr/local/node/bin` to your $PATH. Have you done so?

How did you install `npm`? What is the output of `which npm`?

[2015-03-02 03:30] rmg commented on #200
Forgot to add, `/usr/local/node/bin/slc --version` should work for you, but you will need to specify the full path each time unless you add `/usr/local/node/bin` to your $PATH.

[2015-03-02 08:14] bingeh commented on #200
@rmg Thanks, but I reinstall all things, such as node.js npm, but still this error.

[2015-03-02 08:54] rmg commented on #200
@hzb _how_ did you install node and npm? If you are using an installer it should be adding `/usr/local/node/bin` to your PATH. If you are not using an installer then the instructions you are following should tell you how to set your PATH environment variable appropriately.

[2015-03-02 09:09] bingeh commented on #200
@rmg thanks, and I test this on ubuntu, it works now, I test it on centos, I will get the error above. Thanks again.

[2015-03-02 09:09] #200 closed

[2015-03-07 23:52] lius opened #202 "slc loopback:* not showing models from other folders present on model-config.json"
I'm organising the models in subfolders inside common/models, registering each one on model-config.json (_meta.sources property). The application runs and works fine, but these models are not showed on slc loopback:* commands, just the others ones (default from LB).

strongloop: 2.10.3
loopback: 2.13.0
juggler: 2.19.0

[2015-03-12 18:31] RV2013 commented on #200
I install strongloop with command "sudo npm install -g strongloop", but it always stuck at the last para shown below. The stick keeps on spinning but no updates till an hour. I tried this twice. Any idea what is wrong OR does installation takes a much long time ?

Here is my terminal's console log

==================================================
npm WARN engine npm@1.4.28: wanted: {"node":">=0.

[2015-03-12 18:50] RV2013 opened #205 "Installation on Mac osx stucks at certain point"
I am installing strongloop using command "sudo npm install -g strongloop". after setting all right permission for root user.
every time the installations stucks at the last para shown below as my Treminal's log

==================================================
export USER=root && sudo npm install -g strongloop
Password:
npm WARN engine npm@1.4.28: wanted: {"node":">=0.8","npm":"1"} (current: {"n

[2015-03-12 18:55] rmg commented on #205
The installation can definitely take a while if your connection, CPU, or disk are slow. You could try adding `--verbose` to your install command to get a better idea of where it is in the installation when it gets stuck.

[2015-03-12 18:55] sam-github commented on #205
Why are you using `export USER=root`?

It does not usually take this long, and mostly likely indicates a problem in your system's configuration.

I recommend following the OS X install directions from our docs: http://docs.strongloop.com/display/SL/_Installation

Also, some basic trouble-shooting info would be helpful:
- node -v
- npm -v
- `npm install -g heapdump`: does this work?

[2015-03-12 19:03] RV2013 commented on #205
Ok. Let me follow the instructions at : http://docs.strongloop.com/display/SL/_Installation.

Now i am trying with command :  sudo npm -g --unsafe-perm install strongloop

I realy dont know what exactly command "export USER=root" does but it was mentioned somewhere in issues and I have followed that.

[2015-03-14 05:07] RV2013 commented on #205
Ok. I followed the instructions and tried several time though I failed with the OSX terminal not progressing after certain level.

Well, I was just curious to know an alternative way to install strongloop suite on mac osx as the command npm install -g --verbose strongloop does not finish successfully and hangs in between before it is finished.

It would be of great help to me if you can let me kno

[2015-03-14 05:44] rmg commented on #205
Sorry I wasn't more clear. The purpose of the `--verbose` flag was for you to be able to see what part of the installation npm was getting stuck on and ideally tell us so that we can investigate. It was not intended to be a solution.

There are no directory structure requirements other than those required by node and npm. The module dependencies are all listed on the [npm module page](https://www.

[2015-03-14 07:10] RV2013 commented on #205
I know the installation of various modules via npm and there isn't other way of installing except using npm. I agree to that. What exactly I want to find out is the placing of the modules inside specific directory like "/usr/local/lib/node_modules/strongloop/..." etc.. Do i need to manuaaly create the directory and follow the structure ?

[2015-03-16 17:23] sam-github commented on #205
@RV2013 If you can't install strongloop on OS X, you have a problem in your system setup or have hit an npm bug in the . strongloop is a very generic npm package, with no install scripts, peer dependencies, etc. It does have a large number of dependencies, which sometimes exposes bugs in npm.

I would suggest updating your npm. Do an `npm install -g npm` to update to the latest, stable, npm versio

[2015-03-17 00:31] lius commented on #202
Up. Should I open this issue on loopback repo?

[2015-03-17 01:10] rmg commented on #202
@lius sorry for the slow response.

You should file this one against [generator-loopback](https://github.com/strongloop/generator-loopback/issues).

[2015-03-17 01:10] #202 closed

[2015-03-17 19:50] sam-github commented on #191
@ijroth can you take a look at above? Most of the low-level readmes just point to strong-pm and strongloop, but take a look particularly at strongloop/strong-pm#157 and its feature list.

[2015-03-27 19:53] #191 closed

[2015-03-31 16:37] sam-github commented on #192
[code]

Above text should become what, exactly?

[2015-03-31 22:20] sam-github commented on #192
I can invent something, but if someone provides me exact text, its easier, I can put it in in a few minutes.

[2015-04-03 20:48] developersencha opened #207 "Failed to install strongloop"
I am trying to install strongloop (npm install -g strongloop) in windows 8.1 with node.js 0.10.33 (I have tried also with 0.12.2), python 2.7 is installed but I take the following error:

p\node_modules\strong-arc\node_modules\strong-mesh-client\node_modules\strong-pm
\node_modules\strong-mesh-models\node_modules\minkelite\node_modules\sqlite3

[sqlite3] Command failed:
module.js:356
  Module._ext

[2015-04-03 23:17] chandadharap commented on #192
Issac said earlier here:

Running with strong-agent enabled. To see metrics, use profiler and other diagnostic features run:
slc arc

[2015-04-06 02:19] kraman commented on #207
Hi @developersencha The package causing this failure has been reverted to an older version. Please try your installation again.

[2015-04-06 04:07] developersencha commented on #207
All OK thank you very much.

[2015-04-07 16:22] sam-github commented on #207
@kraman is that correct `strong-mesh-client\node_modules\strong-pm`: arc depends on mesh-client, which depends on strong-pm? It looks like the error might be related to path depths... we might need to require npm3, or else need to pull some deps up to the top-level, so they don't get installed multiple times deep in the tree.

[2015-04-07 16:28] rmg commented on #207
It looks like strong-mesh-client depends on strong-pm to get access to its client, which is actually in strong-mesh-models, which it already depends on.

[2015-04-07 16:30] kraman commented on #207
Yah, its pretty deep.

[code]

perhaps `strongloop` can depend on node-sqlite3 directly to reduce the depth at which it is installed?

But depending on where someone installs node, the path could still be long ... eg above `C:\Users\Nik\AppData\Roaming\npm\node_modules\` already adds a bunch of depth.

[2015-04-07 16:45] rmg commented on #207
There's also no guarantee that with that strategy npm won't install multiple copies of node-sqlite3 anyway. :-(

[2015-04-07 16:48] kraman commented on #207
@rmg doesnt it just do a version match to figure out if a new copy is required. We *should* only need to make sure the npm version selectors match in both places.

[2015-04-07 17:41] rmg commented on #207
That behaviour is dependant on the order the dependencies are installed, which I believe is currently dependant on which ones download/install first. A future version of npm will resolve the entire tree before installing anything, which will solve _a lot_ of these Windows path depth problems.

[2015-04-08 01:26] FrankHassanabad opened #208 "Update your URL"
At the front of your project it has this as the cli's url:
strongloop controller CLI http://docs.strongloop.com/display/SLC/StrongLoop+Controller

However, that confluence page changed and that no longer points to anything useful.

Perhaps here? http://docs.strongloop.com/display/SLC/Running+apps+with+slc

[2015-04-08 17:54] Setogit commented on #207
added an update to https://github.com/strongloop-internal/scrum-nodeops/issues/423.

[2015-04-08 17:55] #207 closed

[2015-04-14 15:24] loxovaz opened #210 "Error while installing strongloopr. Win 7 x64."
strongloop\node_modules\strong-agent

C:\Users\username\AppData\Roaming\npm\node_modules\strongloop\node_modules\stron
g-agent>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\n
ode_modules\node-gyp\bin\node-gyp.js" rebuild
child_process: customFds option is deprecated, use stdio instead.
Building the projects in this solution one at a time. To enable parallel build,
please a

[2015-04-14 18:45] rmg commented on #210
@piscisaureus @bnoordhuis are either of you able to decipher this VCC build error?

[2015-04-14 19:03] bnoordhuis commented on #210
It's probably [this gyp issue](https://code.google.com/p/gyp/issues/detail?id=457).  In a nutshell, gyp detects the wrong toolchain.  Running the command below from the shell before running npm again should fix it.

[code]

Replace `/x86` with `/x64` for 64 bits builds.

[2015-04-15 06:41] loxovaz commented on #210
gyp is a nightmare. It's my third x64 PC configuration and every time it needs for some tricks
Thanks a lot guys! It's solved

[2015-04-15 06:41] #210 closed

[2015-04-16 16:16] superkhau opened #211 "`slc update` should only update when new dependencies are available"
`slc update` should take a snapshot of the current version of dependencies installed, get a list of remote item versions, diff them, and update if necessary. At the moment, it always updates even if the dependencies are identical.

[2015-04-16 16:36] rmg commented on #211
As of this writing, `npm install -g strongloop` installs 3297 packages.. not sure doing those version checks is going to be much better.

[2015-04-16 16:43] superkhau commented on #211
That is a lot. Closing this issue as it seems like a futile battle. ;)

[2015-04-16 16:43] #211 closed

[2015-04-16 17:54] sam-github commented on #211
Unfortunately, we'd have to basically re-invent npm's install, but "better". Its a hard problem, lets let npm face it.

[2015-04-16 18:40] chandadharap commented on #211
agreed.

[2015-04-19 21:47] carloscarcamo opened #212 "problems during installation: gyp WARN EACCES user "root" does not have permission..."
I know this issue is repeated but I haven't seen any solution that fits with me, by the way it seems that strongloop is installed on my server but I have to do the following to use strongloop:

[code]

I wonder if I will have problems in the future using strongloop CLI in this way, what do you recommend?

I'm using debian wheezy amd64, node v0.12.2 and npm v2.8.3.

Here is how I installed stronglo

[2015-04-20 15:43] sam-github commented on #212
We recommend installing like this: http://docs.strongloop.com/display/SL/Installing+StrongLoop#InstallingStrongLoop-Linux

If you must keep your /usr/local permissions locked down to root, and you install with sudo, then you need to use https://docs.npmjs.com/misc/config#unsafe-perm.

When run with sudo, npm drops permissions before running install scripts, making it impossible to compile node add

[2015-04-20 18:54] opadillaintegrify commented on #205
I'm also having problems installing strongloop on my mac.  It's productive for about 7 minutes and then comes to a complete halt.

I updated npm before my latest attempt at installation.
node v0.12.1
npm v2.8.3

As suggested in http://docs.strongloop.com/display/SL/Installing+StrongLoop#InstallingStrongLoop-MacOSX, I ran these commands beforehand:
sudo chown -R $USER /usr/local/bin
sudo chown -R $

[2015-04-20 19:33] sam-github commented on #192
This is `slc run`. It doesn't work with `slc arc`, so this message won't work:

slc arc

@chandadharap perhaps the `To see metrics, use profiler and other diagnostic features run:
slc arc` should be in this PR:
https://github.com/strongloop/strong-start/pull/7/files

I re-make my suggestion here: https://github.com/strongloop/strongloop/issues/192#issuecomment-72719902.

It gives the minimal notif

[2015-04-20 19:37] opadillaintegrify commented on #205
I just kept executing npm install -g strongloop --verbose over and over again.  Each time it got deeper and deeper.  Eventually after about 5-10 tries the whole thing completed.

[2015-04-20 20:16] chandadharap commented on #192
Sam and I discussed. i agree. Will catch up with Issac later. Please make the change.

[2015-04-20 20:48] #192 closed

[2015-04-20 22:08] sam-github commented on #205
@opadillaintegrify, sorry this didn't work for you, but like I told the OP, npm hanging while attempting to download a module from its registry is an npm bug, you should report at https://github.com/npm/npm.

[2015-04-20 22:09] sam-github commented on #205
Either that, or chalk it up to network performance, and check your router.

[2015-04-24 02:07] clarkorz opened #214 "`slc loopback` complains missing dependency after upgrade strongloop to 3.1"
[code]

[2015-04-24 02:11] rmg commented on #214
@clarkorz did you find a solution?

[2015-04-24 02:11] clarkorz commented on #214
false alarm. I install a global loopback accidentally

[2015-04-24 02:17] clarkorz commented on #214
I just found that I install a global loopback module accidentally. But after remove global loopback and strongloop module, then install strongloop again, the problem is still there.

More worse, all generator commands complains this message.

[2015-04-24 02:32] rmg commented on #214
I'll try to get a fix out shortly.

[2015-04-24 02:40] clarkorz commented on #214
@rmg I'm using node 0.12 with npm 2.7.4

It seems that `cookie-parser` module hasn't been installed by npm, which should be. Weird.

[2015-04-24 02:43] rmg commented on #214
Ya, it has to do with where the middleware is installed relative to where loopback is installed. I've got a fix I'm about to PR.

[2015-04-24 02:49] #214 closed

[2015-04-24 02:50] rmg commented on #214
Published strongloop@3.1.1 with the fix.

[2015-04-24 02:55] rmg commented on #214
@clarkorz let me know if 3.1.1 works better for you.

[2015-04-24 03:03] clarkorz commented on #214
@rmg Yes, it works now~ thx

[2015-05-02 21:04] srguiwiz opened #218 "slc debug should invoke node-inspector that has biased-opener"
Recent versions of `node-inspector` use `biased-opener` since [ea1b24c](https://github.com/node-inspector/node-inspector/commit/ea1b24c517bc05464a9ebe9055cf498cb4eca77d).

Which means from `node-debug` if present a fitting browser (e.g. Chrome) will launch with the debugger UI, even if another browser is set as system default,

Would be nice if `slc debug` also would open a fitting browser, even i

[2015-05-07 20:13] darrin opened #221 "Trouble with 'npm install -g strongloop'"
Hello all -

Product looks pretty promising thanks for putting it together.

I ran into this problem while trying to install strongloop via 'npm install -g strongloop':

[code]

I tried a number of things from updates to uninstalling packages, etc. What finally did the trick for me was to uninstall and reinstall node, all global packages and then to reinstall strongloop.  I followed [a stack overf

[2015-05-07 20:20] rmg commented on #221
We released [strongloop@3.1.2](https://github.com/strongloop/strongloop/releases/tag/v3.1.2) just a couple hours ago with a workaround for this as well.

[2015-05-07 20:47] darrin commented on #221
Interesting - I tried a previous version (strongloop@3.0.3) which I found referenced in a post - that supposedly fixed a problem like this as well... But that didn't work. I more/less made the assumption that this was a problem with my environment that others might have as well...

[2015-05-07 20:58] rmg commented on #221
It was ultimately caused by substack/node-browserify#1247 which caused a problem for anyone on OS X or Windows due to `JSONStream` and `jsonstream` being different on npmjs.org but mapping to the same cache entry on case-insensitive filesystems.

The workaround we published was to add a `jsonstream` dependency to the top level strongloop package so that by the time the browserify dependencies were

[2015-05-07 21:40] zertosh commented on #221
It's all back to _normal_ now. JSONStream@1.0.3 was published and I re-updated browserify and it's deps to use it instead of "jsonstream" (https://github.com/substack/node-browserify/issues/1251). Sorry everyone.

[2015-05-09 10:47] nvcken opened #222 "slc debug -p 8181 not list sources file"
my app start ok.
debug site open , but sources page is blank, has not right side bar

[2015-05-09 11:40] #222 closed

[2015-05-12 06:34] ynagarjuna1995 commented on #221
# Solution : FIX FOR THE ABOVE ISSUE

Hey

### Error goes like this ..

vagrant@strongloop:~$ sudo  npm install -g strongloop
npm WARN deprecated json-file-plus@2.0.0: Before v3.0.0, errors in fs.writeFile
would not be propagated

ong-supervisor/node_modules/heapdump

make: Entering directory `/usr/local/lib/node_modules/strongloop/node_modules/st
rong-supervisor/node_modules/heapdump/build'
  CXX

[2015-05-12 06:51] ynagarjuna1995 opened #223 "Please fix the issue with npm install -g strongloop"
### Error along with solution which I have tried are mentioned below please try to fix the issue asap

Hey

### Error goes like this ..

vagrant@strongloop:~$ sudo  npm install -g strongloop
npm WARN deprecated json-file-plus@2.0.0: Before v3.0.0, errors in fs.writeFile
would not be propagated

ong-supervisor/node_modules/heapdump

make: Entering directory `/usr/local/lib/node_modules/strongloop/n

[2015-05-12 07:19] ynagarjuna1995 commented on #223
## Unable to work with loopback after symlinking

   slc loopback
 not working

#### Please check the error below

vagrant@strongloop:~$ slc --version
strongloop v4.0.1 (node v0.12.2)
├── strong-arc@1.2.1
├── strong-build@2.0.0 (0cb88da)
├── strong-deploy@2.2.0 (ada97d4)
├── strong-pm@4.1.0 (4629260)
├── strong-registry@1.1.4 (aab3dbb)
├── strong-start@1.1.0 (04195e6)
├─┬ strong-supervisor@1.6.0 (

[2015-05-12 10:56] PanYuntao opened #224 "How get the postdata in a custom Express route with strongloop ?"
How get the post data In a custom Express route with strongloop .
like this don't get postdata
[code]

[2015-05-12 14:24] javefang opened #225 "Failed to install strongloop 4.0.1 (windows, 260 chars path length limit)"
I'm working on a windows machine, the installation fails when trying to compile one of the dependency library due to the windows 260 characters path length limit. Is there a way to work around this?

$ npm install -g strongloop
...
C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\Microsoft.CppBuild.targets(399,5): error MSB319
1: Unable to create directory "Release\obj\action_before_build\ac

[2015-05-12 15:05] rmg commented on #225
@javefang I just published 4.0.2 with a fix, can you give it a try? You may need to `npm cache clear` first to make sure npm pulls down the latest.

[2015-05-12 15:58] javefang commented on #225
It works now! Thanks for the amazingly fast fix :)

[2015-05-12 16:00] #225 closed

[2015-05-12 16:01] rmg commented on #225
Glad to hear it :-)

[2015-05-12 16:10] #221 closed

[2015-05-13 03:50] rmg commented on #223
@ynagarjuna1995 what is the actual error you were trying to fix by manually symlinking files? The log messages you pasted show only warnings, not fatal errors. Also, you do not need to install `node-gyp` because a version of it is already bundled with `npm`.

What are you using as a base box for your vagrant VM?

[2015-05-13 03:58] rmg commented on #224
@PanYuntao you need to make sure that any body parsing middleware you are using is added before your `/ping` route is added.

Can you post this on stackoverflow.com or the [loopback mailing list](https://groups.google.com/forum/#!forum/loopbackjs)?

[2015-05-13 03:58] #224 closed

[2015-05-13 05:12] rmg commented on #223
If you are using VirtualBox for Vagrant, you could try the [strongloop/node-trusty](https://atlas.hashicorp.com/strongloop/boxes/node-trusty) box, which was just updated to include strongloop@4.0.2.

[2015-05-13 14:29] javefang opened #227 "'slc build' hangs"
OS: windows 7
Node: 0.12.2
Strongloop: 4.0.2

The build script in my package.json is defined to run a gulp task ("gulp build-all"). It seems to hang when I build a .tgz package. Is there anyway I can debug this? Thanks in advance!

Below is the console output:
------------------
[code]

When I run "gulp build-all" directly from the same folder:
-------------------
[code]

-----------------
Below i

[2015-05-13 14:42] javefang commented on #227
Sorry guys, seems like a problem with the 'gulp-shell' module I'm using inside one of my gulp task

var shell = require('gulp-shell');
gulp.task('lb-services', shell.task(['lb-ng ./server/server.js client/src/app/common/services/lb-services.js']));

removing this task seems to have fixed the issue.

[2015-05-13 15:27] rmg commented on #227
Does `npm run build` work when you run it yourself with that gulp-shell task still enabled?

[2015-05-13 16:41] javefang commented on #227
Yep it works when I call "gulp lb-services" directly.

[2015-05-13 17:26] rmg commented on #227
@javefang but does it work when you call `npm run build`? That is how `slc build` invokes it.

[2015-05-14 20:53] javefang commented on #227
Yes it works when calling `npm run build`, I'll will paste the tests below

[2015-05-14 21:12] javefang commented on #227
I have started a new loopback project.

package.json
-------------
{
  "name": "sl-build-test",
  "version": "1.0.0",
  "main": "server/server.js",
  "scripts": {
    "pretest": "jshint .",
    "build": "gulp <task>"
  },
  "dependencies": {
    "compression": "^1.0.3",
    "cors": "^2.5.2",
    "errorhandler": "^1.1.1",
    "loopback": "^2.14.0",
    "loopback-boot": "^2.6.5",
    "loopback-datas

[2015-05-18 06:30] PanYuntao commented on #224
@rmg  Thanks for your help.

[2015-05-20 04:03] Acaspita opened #228 "slc arc --> TypeError: undefined is not a function at C:\...\strong-mesh-client\proxy\boot\manager-host.js:43:16"
After running slc arc in the folder of a loopback app, I get this: (Under Windows 8.1)
[code]

[2015-05-20 17:50] ritch commented on #228
This looks like a bug in the error handling code. Thanks for posting the issue (next time you can post to the strongloop/strong-arc repo if you'd like a quicker response).

I'll create a fix for the error handling code. If you would like to debug this before then you can modify that line of code mentioned in the error message to print the error

[code]

There is most likely some error during the p

[2015-05-20 22:15] Acaspita commented on #228
Sure, I'll post it when I reach home. Thank you..

[2015-05-22 06:17] carloscarcamo commented on #212
thanks :)

[2015-05-22 18:15] carloscarcamo opened #229 "Failed to create build products commit for `deploy`"
Hello there, I have a problem when running:
```$ slc build```

This is the output:
[code]

I'm trying to follow this guide: http://strong-pm.io/prod/

Any idea about what I'm doing wrong?

I would like to deploy to production a node.js app to a centos 7 server with node v0.12 using nginx as a web server, any suggestion, tutorial or something helpful?

Thanks in advance!

[2015-05-23 05:41] #212 closed

[2015-05-23 06:00] sam-github commented on #229
Is this a public repo? Can we run it ourselves to investigate? Its hard to guess what git didn't like.

As a work-around, you can do `slc build --npm` to build a npm packfile, and then deploy that.

See http://docs.strongloop.com/display/SLC/Configuring+Nginx+load+balancer, and other docs around it.

[2015-05-23 17:26] sam-github commented on #218
When `slc debug` (which is just a facade around node-debug from node-inspector) is updated to the latest node-inspector, it will do this. In the meantime, we recommend using node-debug.

/cc @altsang @bajtos

[2015-05-23 22:21] carloscarcamo commented on #229
I'm learning about strongloop devops tools and I'm trying to build this repo:
https://github.com/strongloop/express-example-app

I have: git version 1.7.10.4

[2015-05-23 22:37] carloscarcamo commented on #229
I resolved this problem updating my git version,
The docs http://docs.strongloop.com/display/SLC/Committing+a+build+to+Git say:

"To commit a build to a Git repository, you must have Git 1.7.9 or later."

But with my git version 1.7.10 didn't work, so I have updated git to v1.9.1 and now it works great :)

[code]

[2015-05-23 22:37] #229 closed

[2015-05-24 05:48] Acaspita commented on #228
I tried to debug this issue on my machine with node-debug, but I'm not being able since I can't add the folder containing the code to workspace (bug?) and so I'm not able to put the break point on the that line.

[2015-05-24 05:48] #228 closed

[2015-05-25 14:27] harshil93 opened #231 "Upgrade the version of node inspection in cli."
The current version of node-inspector in strongloop@4.0.3 is node-inspector@0.7.4

The 0.7.4 version has a bug which doesn't explode variables when inspecting them. See this SO post for reference
http://stackoverflow.com/questions/28212529/node-inspector-not-exploding-object-properties

Kindly update the node-inspector version.

[2015-05-26 17:01] crandmck commented on #208
Fixed.  Thanks for reporting.

[2015-05-26 17:01] #208 closed

[2015-05-27 18:12] rmg commented on #231
See discussion in #185

[2015-05-27 18:12] #231 closed

[2015-05-29 05:42] gavinengel opened #233 "npm ERR! notarget No compatible version found: vinyl-fs@'>=0.3.7 <0.4.0'"
I'm using npm v2.11.0, and when I try to install package strongloop I get this error, any advice?

[code]

[2015-05-29 16:22] rmg commented on #233
@gavinengel this is a problem with your version of node. Anything with a `-pre` does not meet any engine requirements and versions of vinyl-fs before 1.0.0 had `engineStrict: true`.

You can either rebuild your version of node as a release build or use a prebuilt release.

[2015-05-29 16:25] #233 closed

[2015-06-01 05:14] facascante opened #234 "Restart/Start/Stop service of multi-app pm instance doesn't work as expected"
Steps how to replicate

1. deploy any loopback to a pm remotely and check if deployed successfully
2. remote restart/stop/start ther service you deployed
      e.g. slc ctl -C http+ssh://pm-server restart 1

after this the application looks to be in hang state

the status(check below) is available and even when start it again it error and say already running

but when you access the app it's dead.

[2015-06-01 20:06] rmg commented on #234
@facascante can you give the output from `slc version` on the client and `sl-pm --version` on the server? And is there anything in /var/log/upstart/strong-pm.log from the time you issued the `slc ctl restart`?

[2015-06-01 21:37] facascante commented on #234
Client slc version

[code]

Server slc version

[code]

[2015-06-01 21:43] facascante commented on #234
i tried it again to replicate here is the log in strong-pm.log

[code]

here is the log via log-dump

[code]

i'm using sl-pm like this on upstart  "slc pm-install"

[2015-06-01 22:10] rmg commented on #234
@sam-github this looks to me like set-size isn't being persisted. What do you think?

@facascante if it is the set-size issue I'm thinking of, it should be fixed in 4.1.0, which was released a few weeks ago. Do you have a staging or test server you can upgrade and test with? Running `npm install -g strongloop` should do the trick.

[2015-06-01 22:21] facascante commented on #234
copy.
 I'll try and check :)
Yes sir, we are still on staging and hopefully everything goes smoothly so we can go to production :)

[2015-06-01 22:44] facascante commented on #234
Hi @rmg

i did install again ob both server and client and now they both have this version

[code]

after this i restarted the pm instance then replicate if problem will still be encounter

from client i issue this command

slc ctl -C http+ssh://pm-server restart 1

then on the server the strong-pm logs is

[code]

and the log-dump

[code]

i check the app it is now running ok
but weird as im doin

[2015-06-02 00:46] rmg commented on #234
Sorry, I misread the `slc version` output earlier, you were already running fairly recent versions.

For the log-dump, note that each time you call it, the log buffer is emptied. If you run it again right away there probably isn't anything new in the log buffer, so nothing comes back.

[2015-06-02 00:54] facascante commented on #234
agree with log-dump i add --follow

[2015-06-02 01:09] rmg commented on #234
Just to confirm, the app isn't accessible after `slc ctl restart`? Or is it just that the logs are silent?

[2015-06-02 01:11] facascante commented on #234
the app is not accessible.
sorry for the wrong info from previous it is just cached.
workers are dead

[2015-06-02 01:15] facascante commented on #234
oh. it's like intermittent.

after restart the app is running and just the log is silent.
i confirm this by executing it twice.

[2015-06-02 01:16] rmg commented on #234
Ya, I'm having difficulty reproducing it.. it seemed to be every second run of slc pm, but now it's just working properly every time for me. Something strange is going on.

[2015-06-02 01:25] rmg commented on #234
The silent log after restart is a bug: https://github.com/strongloop/strong-runner/issues/7

[2015-06-03 20:00] rmg commented on #234
@facascante have you had any luck narrowing down steps to reproduce the problem reliably?

[2015-06-03 21:50] facascante commented on #234
i'll try again now

$ slc ctl -C http+ssh://pm-service:8701 log-dump 1 -- follow
2015-06-03T21:45:02.266Z pid:32515 worker:0 INFO strong-agent v1.5.1 profiling app 'sample-service' pid '32515'
2015-06-03T21:45:02.285Z pid:32515 worker:0 INFO strong-agent[32515] started profiling agent
2015-06-03T21:45:02.295Z pid:32515 worker:0 INFO supervisor starting (pid 32515)
2015-06-03T21:45:02.297Z pid:3251

[2015-06-03 22:19] rmg commented on #234
@facascante are you able to update `strongloop`/`strong-pm` and try again? The missing logs after restart fix was just released earlier today.

[2015-06-03 22:39] facascante commented on #234
when i update it's working fine now

$ slc ctl -C http+ssh://pm-service:8701 log-dump 1 -- follow
2015-06-03T22:35:17.585Z pid:5878 worker:0 INFO strong-agent v1.6.0 profiling app 'sample-service' pid '5878'
2015-06-03T22:35:17.605Z pid:5878 worker:0 INFO strong-agent[5878] started profiling agent
2015-06-03T22:35:17.609Z pid:5878 worker:0 INFO supervisor starting (pid 5878)
2015-06-03T22:35:17.61

[2015-06-03 22:59] rmg commented on #234
It's a little misleading. It says `ERROR` but it also says `expected exit with 2`. We should probably change that to an `INFO` or `WARN`.

@facascante if you can't reproduce the problem anymore, would you mind closing this?

[2015-06-03 23:25] facascante commented on #234
sure :)

[2015-06-03 23:25] #234 closed

[2015-06-10 16:52] Ijmir commented on #221
npm cache clean
solved it for me

[2015-06-11 00:25] kreso22 commented on #221
@Ijmir 's suggestion worked for me!

[code]

[2015-06-11 04:26] PreethiBabu87 opened #236 "StrongLoop Installation fails in Windows 7"
Hi
Am not able to install strongloop in my windows7 machine. This package depends on apackage called Unicode and doesn't that package also doesn't get installed when I tried to install separately. Below is the error log:
--------------------------------
browser bundle successfully generated
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "node" "C:\\Users\\pm18094\\AppData\\Roaming\\npm\\node_modules\\

[2015-06-11 17:04] rmg commented on #236
This seems to be a recurring problem: dodo/node-unicodetable#16
And it looks like it might be especially bad on Windows: dodo/node-unicodetable#18

@seanbrookes perhaps there is an alternative to the `slug` module that Arc uses that doesn't depend on `unicode`?

[2015-06-11 18:09] seanbrookes commented on #236
the slug dependency may not be needed at all.  I think it came over during the concurix prototyping and may have just stuck around...will check out if its even needed anymore

[2015-06-11 18:14] rmg commented on #236
@seanbrookes see https://github.com/strongloop/strong-arc/pull/1345

[2015-06-11 19:41] rmg commented on #236
@PreethiBabu87 we're working on a fix to remove that dependency. In the mean time, unicode.org seems to be back up and running if you want to try `npm cache clear && npm install -g strongloop` again.

[2015-06-11 20:23] #236 closed

[2015-06-16 05:15] behrad opened #237 "passing node options!?"
I was unable to send `--expose-gc` and `nouse-idle-notification` to my app :(

[2015-06-16 17:04] rmg commented on #237
@behrad are you referring to `slc run`? If so, this may be a duplicate of strongloop/strong-supervisor#56.

[2015-06-16 18:33] behrad commented on #237
actually I'm abit confused about `slc run` and `slc start`!
currently using `slc run --no-profile --cluster cpu -d -l logfile.log` to run our app, however I can't see if I should switch to `slc start` or not?

so the answer should be

`node --harmony /usr/local/bin/sl-run run` ?
`node --harmony /usr/local/bin/sl-run start` ?

[2015-06-16 19:07] behrad commented on #237
`node --expose-gc /usr/bin/slc run` also seems to work but `node --expose-gc /usr/bin/slc start` not.

[2015-06-16 20:14] rmg commented on #237
It would not work with `slc start` because it actually deploys your app to a strong-pm instance instead of running it directly.

If this is being done on a server, you should consider http://strong-pm.io/prod/

If this is being done in development, you could continue using `slc run`.

[2015-06-16 20:19] behrad commented on #237
and how should I pass those node options in production server?

[2015-06-16 20:30] rmg commented on #237
Sorry, in my haste I focused on the `-d` in your example and forgot about the original issue. There is currently no way to pass node options to apps running under strong-pm.

[2015-06-18 17:16] behrad commented on #237
So if we are GC tuning, we should totally ignore using strong-pm currently! :(
Is there any plan to support this @rmg ?

[2015-06-20 15:35] sprhawk opened #238 "json generated by slc are not pretty formatted"
strongloop version: 4.0.5

OS: MacOSX

All json files generated by slc, including models, package.json, datasource are all compact format, meaning no new lines, all in one line.

like this:

    {"name":"loopback","version":"1.0.0","main":"server/server.js","scripts":{"pretest":"jshint."},"dependencies":{"compression":"^1.0.3","cors":"^2.5.2","errorhandler":"^1.1.1","loopback":"^2.14.0","loopback-

[2015-06-22 03:39] sam-github commented on #238
Confirmed, I don't think it used to do that, maybe a change in one of the sub-deps? @ritch, ideas?

[2015-06-22 16:47] ritch commented on #238
Looking into it... this is usually because someone is calling `JSON.stringify(data)` instead of `JSON.stringify(data, null, 2)`.

@bajtos or @raymondfeng have you changed this recently? I haven't made changes to workspace in a while.

[2015-06-22 17:06] bajtos commented on #238
I am not aware of such change. I believe we use `fs-extra` to write JSON files ([source code]( https://github.com/strongloop/loopback-workspace/blob/aba8b124c95c9da5d352cea1d61c24d42a3104c9/models/config-file.js#L109)), which used to delegate that task to jsonfile ([source](https://github.com/jprichardson/node-fs-extra/blob/af1180048443b3add1f7af203ce118f30d329c15/package.json)). It seems that `js

[2015-06-23 19:48] raymondfeng commented on #238
@bajtos I installed strongloop@4.0.5. The problem exists even jsonfile is 2.1.2.

[2015-06-23 20:05] raymondfeng commented on #238
Here is the root cause - https://github.com/jprichardson/node-jsonfile/issues/26. I'll add a workaround first.

[2015-06-23 20:16] raymondfeng commented on #238
A workaround is released in `loopback-workspace@3.15.1`.

[2015-06-23 20:16] #238 closed

[2015-06-23 20:17] raymondfeng commented on #238
See https://github.com/strongloop/loopback-workspace/commit/1d125e8d5731e898333e0950eacbc50e72aa7aef

[2015-07-18 17:28] dtt101 commented on #223
I get similar errors on Ubuntu 14.04 after running ```npm install -g strongloop```

[code]
I am using:

 * nvm 0.25.4
 * npm 2.11.3
 * node 0.12.7 (I have also tried with 0.10)
 * Ubuntu 14.04

When I list my globally installed packages with (```npm list -g --depth=0```) I can see ```strongloop@4.0.5``` but the slc command is unavailable (I get zsh: command not found: slc).

[2015-07-19 04:16] sprhawk commented on #238
will this fix be available ?

    npm upgrade -g stongloop

seems no new release

[2015-07-20 02:42] xinshouke opened #240 "The command slc run was not compatible with the crontab in linux"
I hope do a timer task in linux, but I set the command 'slc run' into crontab, the timer doesn't work totally. I had to set 'node server' into crontab, the task may work well! But I need define multiple CPUs thr command 'slc run'. Would you tell me how to do please?

[2015-07-20 17:29] rmg commented on #238
@sprhawk IIRC, `npm upgrade -g XXX` doesn't do what one expects. You should do `npm install -g strongloop` to upgrade the strongloop package.

[2015-07-20 18:53] raymondfeng commented on #238
In some cases, I have to do the following:

[code]

The following might work too:
[code]

[2015-07-20 18:53] rmg commented on #240
@xinshouke what errors do you see in your crontab log when using `slc run`? Is your cron job running in the correct location? Does your crontab's PATH environment variable include the location that the `slc` binary is in?

[2015-07-21 02:34] sprhawk commented on #238
thank you both @raymondfeng @rmg

[2015-07-22 00:05] sam-github commented on #237
We'd like to, but the priority is being balanced against lots of other outstanding feature requests.

What gc options are you providing, and what is the impact to your app?

[2015-07-22 07:01] behrad commented on #237
memory tuning and gc options for scaling...

--expose-gc
--nouse-idle-notification
--max-old-space-size

[2015-07-22 19:30] sam-github commented on #227
I believe there's an issue with gulp-shell where it doesn't work well when its spawned by node.

@rmg, do you recall where the issue where this was reported and tracked down?

[2015-07-22 19:57] rmg commented on #227
@sam-github I don't recall a specific issue, but I just took a look and it seems likely that `lb-ng` is waiting for input, since gulp-shell seems to [make an effort to pipe it](https://github.com/sun-zheng-an/gulp-shell/blob/848cdf44c854b5e1c315f1a595810a7a0c2e89cc/index.js#L39-L72), but we don't do anything with it.

This also sounds similar to strongloop/gulp-loopback-sdk-angular#3

@javefang ha

[2015-07-22 20:45] rmg commented on #223
@ynagarjuna1995 re-open if you still need help with this.

[2015-07-22 20:45] #223 closed

[2015-07-22 23:15] sam-github commented on #227
If the stdin redirection is the problem, then we can redirect stdin from dev null when we spawn. Might be a good idea to do anyway.

[2015-07-23 12:38] xinshouke commented on #240
I don't know how to check crontab log,let me google it and check this issue later. But I set node server.js, the crontab work well.

[2015-07-23 16:48] rmg commented on #240
@xinshouke understood. Unfortunately we need some sort of error message to have any idea what is going wrong.

Depending on your OS, cron logs are either in their own file (`/var/log/cron` or similar) or logged to the general syslog log (something like `/var/log/messages` or `/var/log/syslog`).

Note that `slc run` is intended for long running server applications that accept network connections an

[2015-07-25 14:21] xinshouke commented on #240
@rmg I edit my cron as below using the command 'crontab  -e'
55 21 * * * /root/hutuo/STSLC.sh;
vi STSLC.sh as below:
cd /root/hutuo
slc run>> /root/hutuo/ls.txt&
After 21:55, I had not found the node was executed . the log file named /var/log/cron as below:
(root)
Jul 25 21:55:01 iZ2316cy6xxZ CROND[31373]: (root) CMD (/root/hutuo/STSLC.sh)
Jul 25 22:00:01 iZ2316cy6xxZ CROND[31382]: (root) CMD (/us

[2015-07-27 20:54] sam-github commented on #240
So, you problem is solved, or not? I notice you didn't include ls.txt, and you don't redirect stderr to ls.txt, so you won't see errors.

Also, its a bit of a mystery still why you are using `slc run` for a short-lived cron task, why don't you just use node?

[2015-07-28 05:25] xinshouke commented on #240
@sam-github  Because I hope using multiple CPUs thr command 'slc run'; , there is blank  in my ls.txt file...

[2015-07-28 18:30] sam-github commented on #240
That won't work. `slc run` will need a --cluster option to enable clustering, and once you enable cluster, every time one of your workers exits, it will be restarted.... so the app won't ever die, which means every time the crontab starts the app you will have one more instance of the app.

[2015-07-28 18:30] #240 closed

[2015-08-07 18:42] newswim opened #243 "Dependency deprecation @ NPM install"
Hi everyone, I executed the global npm install and received several deprecation warnings. Would it be problematic for me to update these manually or are there constraints I might not be aware of? Here are the warnings:

[code]

I'm running a MBP with Node v0.12.7 -- Thanks!

[2015-08-07 21:29] sam-github commented on #243
Yes, it would be problematic, it could break strongloop, and it would not make strongloop work better.

Deprecations are an ad-hoc poorly used mechanism for module authors to communicate to consumers, in the absence of npmjs.org supporting any other way. For example, the showdown author published a backwards incompatible 1.x version, and would like people to use it, which is fair, but by deprecati

[2015-08-14 01:02] notbrain opened #244 "Reinstall of strongloop, slc pm-install does not create /var/lib/strong-pm"
Apologies if this is not applicable here, but I've just upgraded to 5.0.0 and our apps are no longer spawning with strong-pm. See [strong-pm issue 270](https://github.com/strongloop/strong-pm/issues/270), strange syntax error when I simply try to run the upstart job.

But also now that I've attempted a fresh global install of strongloop, a subsequent `sudo slc pm-install` no longer knows how to cr

[2015-08-14 01:07] rmg commented on #244
https://github.com/strongloop/strong-pm/issues would be more appropriate in this case :-)

Or possibly https://github.com/strongloop/strong-service-install since that functionality was extracted from strong-pm. Either a regression was introduced in the process or there's a hole in the tests. If I recall the code correctly, it is probably assuming that if the user exists and their $HOME is set, the

[2015-08-14 03:48] #244 closed

[2015-08-14 13:05] smartmouse opened #245 "why npm test gives an error?"
:~/teststrongloop/node_modules/strongloop$ npm test

/home/nodebot/teststrongloop/node_modules/strongloop/node_modules/eslint/lib/igno
            throw e;
                  ^
Error: Cannot read ignore file: .gitignore
Error: ENOENT, no such file or directory '.gitignore'
    at Error (native)
    at Object.fs.openSync (fs.js:500:18)
    at Object.fs.readFileSync (fs.js:352:15)
    at loadIgnoreFi

[2015-08-14 17:53] rmg commented on #245
The `.gitignore` file is not included in the published tarball - `npm publish` turns it into the `.npmignore` file. Generally the tests are meant to be run on a git checkout.

[2015-08-14 20:23] rmg commented on #243
The use of `MD5` should be reasonably easy to fix, since it is a direct dependency of one of our modules.
 - strongloop/minkelite#18

The others, unfortunately, are fairly deeply nested :-(
[code]

[2015-08-14 21:12] rmg commented on #243
I don't think there's a need for a high level tracking issue, so I'm closing this now that the relevant upstream issues and PRs have been opened:
 - [x] issue: strongloop/minkelite#18 (closed by strongloop/minkelite#19)
 - [ ] issue: strongloop/generator-loopback#109
 - [ ] PR: strongloop/loopback-sdk-angular-cli#28
 - [ ] issue: strongloop/strong-arc#1488

[2015-08-14 21:12] #243 closed

[2015-08-16 02:57] smartmouse commented on #245
Got it, works.  Some modules comes with the tests that work right away, looks like there are no standard way. Thanks anyways .

[2015-08-16 02:57] #245 closed

[2015-08-20 08:02] faizalpribadi opened #246 "miss modules minkelite"
Hello strongloop guys, after i created the project with strongloop, i try to run gui managament `Arc` but on my system i have missing modules `minkelite` after run command `slc arc`

here is miss modules :
[code]

ok this is no big problem, but i hope strongloop team fix this issue, thanks :+1:

[2015-08-20 08:06] rmg commented on #246
Did you run `npm install -g strongloop` as root (or with sudo)? If so, try reinstalling with `--unsafe-perm` and see if that helps.

[2015-08-20 08:11] rmg commented on #246
For reference, my suggestion is based on mapbox/node-pre-gyp#165 which is known to manifest in sqlite3.

[2015-08-20 09:52] faizalpribadi commented on #246
i run this command ` sudo npm install -d -g --unsafe-perm strongloop` to install strongloop
yep, this is about permission , i got it with the normal user
[code]

i run everytime with sudo when i launch arc, ok, no problem, thanks for quick response @rmg :+1:

[2015-08-20 09:53] #246 closed

[2015-09-03 10:32] SemonCat opened #247 "deploy ssh port"
Hi,

Thanks for your tool,

I have question about this tool,

When I try to deploy to remote server,

I use this line:

`slc deploy --size 4 http+ssh://xxx.xxx.xxx:8701/default`

but my remote server ssh port is not 22,

so I can't deploy,

how to change it?

[2015-09-08 23:53] VaibhavAjayGupta opened #248 "gyp ERR! stack Error: `make` failed with exit code: 2"
I have updated my node version to 4.0.0 and now trying to update my strongloop version(npm install -g strongloop) but keeps on getting following error: (current  version of my strongloop is 5.0.0)

syslog.target.mk:90: recipe for target 'Release/obj.target/syslog/syslog.o' failed
make: *** [Release/obj.target/syslog/syslog.o] Error 1
make: Leaving directory '/home/vaibhav/.nvm/versions/node/npm-gl

[2015-09-09 00:00] rmg commented on #248
This is fixed on git (spanning multiple repositories) but not everything has made it to npm quite yet.

Hold tight!

[2015-09-09 00:14] VaibhavAjayGupta commented on #248
ok

[2015-09-09 02:50] rmg commented on #247
There isn't currently any way to set this, but it should be relatively easy to add support for it by extending the existing options to include a port: https://github.com/strongloop/strong-deploy/blob/bee617cc4b2b32c73cd8e01e84150053a8a404bd/bin/sl-deploy.js#L104-L110

[2015-09-09 02:59] SemonCat commented on #247
Hi,

I send a pull request for this.

https://github.com/strongloop/strong-deploy/pull/51

[2015-09-09 17:20] rmg commented on #247
@SemonCat thanks for the patch. Your change has been published in strong-deploy@3.1.0, which should be installed next time you run `npm install -g strongloop` :-)

[2015-09-09 17:20] #247 closed

[2015-09-10 03:13] SemonCat commented on #247
Hi, @rmg Thanks for your help.

But I found slc ctl has same issue.

I open a pull request for this ,too.

https://github.com/strongloop/strong-mesh-models/pull/106

[2015-09-10 13:41] aj2050 commented on #248
any updates on these errors now available on git ?

[2015-09-10 20:47] rmg commented on #248
I should have clarified up front that this error should not be causing the installation to fail. strong-fork-syslog is an optional dependency of strong-supervisor.

@aj2050 It was recently replaced with modern-syslog (strongloop/strong-supervisor#155) in order to support iojs-3/node-4. Because syslog is still inherently incompatible with Windows, it remains an optional dependency.

[2015-09-11 11:41] Alan01252 commented on #246
For anyone who gets here with this problem

I fixed with following steps

- sudo npm install -g sqllite3
- mkdir -p /usr/lib/node_modules/strongloop/node_modules/minkelite/node_modules/sqlite3/lib/binding/node-v14-linux-x64
- cp cp /usr/lib/node_modules/sqlite3/lib/binding/node-v14-linux-x64/node_sqlite3.node /usr/lib/node_modules/strongloop/node_modules/minkelite/node_modules/sqlite3/lib/binding/

[2015-09-14 16:36] sam-github commented on #248
To be clear, this is a warning, not an error, because the dependency is optional.

[2015-09-15 07:03] Setogit commented on #227
strong-build uses `shelljs` module to run commands.  The reported case uses `gulp-shell`, specifically `shell.task`.  Both `shelljs` and `gulp-shell` depend on `child-process.exec`.  There seems to be impedance mismatch between them.

Mitigation: use `shell.bind(null,`<commands array>) instead of `shell.task(`<commands array>).

https://github.com/Setogit/sky

In this example app, try comment/unco

[2015-09-16 17:44] rmg commented on #248
I've dug into this and this specific error isn't something that will be fixed.
 - this particular dependency is optional
 - it is part of an internal version of strong-pm that is used by strong-arc and is scheduled for removal
 - the functionality that is removed by this strong-fork-syslog not compiling isn't accessible via strong-arc anyway
 - none of the warning messages printed out during `npm

[2015-09-16 17:44] #248 closed

[2015-09-16 18:43] esco opened #250 "Using slc to start Loopback breaks promises?"
The error is as described in https://github.com/strongloop/loopback-datasource-juggler/issues/719 after investigation is seems that its triggered by using `slc run` to start the app. Using regular `node` solves the issue for me, but I wanted to create this issue for anyone who might experience the same thing and for future developments.

[2015-09-16 19:09] sam-github commented on #250
The linked issue doesn't have any reproduction information. Could you point to a sample app, or describe how to build a sample app, that will exhibit the behaviour you see?

Also, you say "slc run", but you don't say whether you are running in clustered mode or not (what the full "slc run" command line is).

I can't think of anything supervisor does that could interact with promises, but clearly s

[2015-09-16 19:09] sam-github commented on #250
@raymondfeng do you have any ideas what is happening?

[2015-09-16 19:13] esco commented on #250
Hey @sam-github the linked issue does have reproduction information in the first comment, I'll re-paste it here for convenience

OSX
node 0.12.7
strongloop@5.0.0

----
Relevant dependencies
[code]

To replicate:

[code]

Visit http://127.0.0.1:3000/explorer/#!/People/test press the "Try it out!" button. You will get the following error:

[code]

Remote method being called:
[code]

Person is a Pers

[2015-09-16 19:16] esco commented on #250
Also to answer your earlier question it happens in both non-cluster (locally) and cluster modes (on Heroku with NODE_ENV=production).

[2015-09-16 19:34] sam-github commented on #250
Setting globals.Promise to bluebird strikes me as unsafe, you may want to reconsider that approach, Promise is native in recent node releases, so this will replace it with a not necessarily perfectly compatible version.

Your app doesn't install on node v3.x, strangely, bluebird doesn't get installed, I had to install it manually.

That aside, I can reproduce, it is related to strong-agent, runnin

[2015-09-16 19:35] Setogit commented on #227
https://github.com/Setogit/sky

strong-build uses shelljs module to run commands. The reported case uses gulp-shell, specifically shell.task. Both shelljs and gulp-shell depend on child-process.exec. There seems to be impedance mismatch between them.

Mitigation: use shelljs.exec with [commands array].join(' && ') instead of gulpshell.task with [commands array]).

In this example app, compare foo

[2015-09-16 20:07] esco commented on #250
Right, ideally it would be `global.Promise = global.Promise || require('bluebird')` but this was just a quick sample. The original version didn't have bluebird and still had the error, we talk about it a little in the linked issue. Thanks for looking into this so quickly and pointing out the `--no-profile` option :-).

[2015-09-16 20:52] sam-github commented on #250
Of course, if you are using `--no-profile`, there is practically no reason to use `slc run` (well, it still clusters and restarts, so I guess some use).

[2015-09-16 20:54] rmg opened #251 "Optional dependencies need updating"
With the release of node-v4.0.0 and the resulting major and minor releases of many modules across the node ecosystem, our the optionalDependencies optimization hack introduced in #213 needs to be updated.

Basically that means resetting the `optionalDependencies` list to `{}`, running a fresh installation, and then adding highly duplicated dependencies to the list. The biggest impact items are any

[2015-09-16 21:05] sam-github commented on #251
async and lodash and eslint and tap all could use bringing up to the same version, too.

[2015-09-17 18:32] bnoordhuis commented on #250
@cgole Why did you assign this to me?

[2015-09-17 18:40] cgole commented on #250
We are triaging bugs and @chandadharap  thought you should fix this one.

[2015-09-17 22:40] sam-github opened #252 "npm deps of strongloop fail to install on CI"
The npm install error is below, I've no idea what it means.

Interestingly, a later test fails because the generator-loopback dependency of strongloop is not installed. I'm not sure if that is significant, but it could point to a windows compat problem in that package (or be the random results of the install failure).

[code]

[2015-09-17 23:23] bnoordhuis commented on #252
Try disabling your virus scanner for a bit.

[2015-09-17 23:48] VaibhavAjayGupta commented on #248
@rmg and @sam thanks for the help.

[2015-09-18 14:40] yswai commented on #246
Solution above works for Win7 x64 as well.

1. npm install -g sqlite3
2. copy folder C:\Program Files (x86)\nodejs\node_modules\sqlite3\lib\binding\node-v14-win32-x64
3. paste into folder into C:\Users\YSW\AppData\Roaming\npm\node_modules\strongloop\node_modules\minkelite\node_modules\sqlite3\lib\binding

[2015-09-18 16:24] sam-github commented on #227
@chandadharap this is a problem with underlying libraries (like gulp), doesn't seem fixable in strong-build, we should close as unfixable (but @Setogit points out some mitigations above).

[2015-09-18 22:25] chandadharap commented on #227
well, then should we document mitigations? I'll close, but still needs an opnion. I have no strong one.

[2015-09-18 22:25] #227 closed

[2015-09-20 06:22] clarkorz commented on #250
@sam-github I have a clue. This only happens when using strong-agent 2.x

[code]
The DAO methods return a promise only if cb is not set. But when running with `slc run`, strong-agent will wrap DAO methods and pass a proxy as cb.

[2015-09-20 09:38] bnoordhuis commented on #250
@clarkorz You're right, that's what happens.  There is a fix under way.

[2015-09-20 10:35] #250 closed

[2015-09-20 23:23] cebor opened #253 "strongloop install fails"
Got following errors while installing strongloop:

node v4.1
npm v3.3.3
osx 10.10.5
xcode clt v7

[code]

[2015-09-21 00:15] rmg commented on #253
Same problem as in strongloop/strong-pm#278. npm@3 isn't respecting the optionalDependencies of nested dependencies when installing globally.

I've reported this upstream as npm/npm#9685, but in the mean time the solution is `npm install -g npm@2`.

[2015-09-21 00:15] #253 closed

[2015-09-21 08:59] cebor commented on #253
With npm@2 the install process works, but i'm also getting some errors.

https://gist.github.com/cebor/7a68ce1eb45f537e9583

[2015-09-21 09:28] rmg commented on #253
For an explanation of the errors in a successful install, see #248.

As for the xcode-select errors, it looks like you haven't fully updated xcode or did not update the cli tools at the same time.

[2015-09-21 13:09] rkmax opened #254 "slc loopback:model damage my middleware configuration"
I'm using the following middleware setup

## `middleware.json`
[code]

## `middleware.production.js`
[code]

as you can see i'm using the name to avoid serving files from some routes if my app it's on production

Now when I ran commands like `slc loopbck:model` my middleware.json left in this state
[code]

I can omit this before commit but it's a bit annoying

[2015-09-28 11:37] jaideepdas opened #255 "Strongloop installation error on windows Server 2012 R2 Std"
I have tried the fix of downgrading NPM stated in this issue but didn't work https://github.com/strongloop/strongloop/issues/253. Following is the console error report.

I tried installing locally globally both.
[code]

[2015-09-28 12:51] Overdrivr opened #256 "Issue with bufferutil during installation"
I am having an issue with bufferutil during installation of strongloop.
Windows 7, npm  3.3.4, node 4.0.1 and a clean install of the Windows SDK for the toolchains
I'm calling

[code]

And installation fails on bufferutil package

[code]

Do you have an idea of what is going on ? I'm not sure if it's related to strongloop, node-gyp or bufferutil itself

[2015-09-28 15:31] sam-github commented on #256
`bufferutil` is an optional dependency of `ws`, it should not block install. And yes, it is having issues on recent node versions, not sure what the issue you specifically are having is, the output above just says `node-gyp rebuild` returned `1` (a failure).

Can you include a link to a gist (http://gist.github.com) of the entire npm-debug.log file?

[2015-09-28 15:51] #255 closed

[2015-09-28 15:53] sam-github commented on #255
@jaideepdas can you confirm this is working for you now?

[2015-09-28 16:18] Overdrivr commented on #256
Thank you for the support,

Here is the complete log file
https://gist.github.com/Overdrivr/70e76d309f7321557df4

[2015-09-28 18:58] rmg commented on #256
This will be addressed by the work for #251.

[2015-09-28 23:12] rmg commented on #256
Sorry, I spoke before reading all the details of the issue.

This is actually a duplicate of #253, which is ultimately caused by npm/npm#9643.

**TL;DR** there's a bug in npm@3 that causes deeply nested `optionalDependencies` to be treated as mandatory by `npm rebuild` which is what npm@3 does as part of its multi-phase `npm install`.

@Overdrivr can you try downgrading with `npm install -g npm@2`

[2015-09-29 01:15] Overdrivr commented on #256
I tried downgrading with your command but that failed. npm refuses to install itself as a dependency. Is there a flag to add to the command ?

[code]

[2015-09-29 01:28] rmg commented on #256
@Overdrivr that's an interesting bug.. It must be npm@3 specific, otherwise I imagine you would have gotten the same error when installing npm@3 in the first place.

[2015-09-29 02:35] Overdrivr commented on #256
Ok the issue is described here
https://github.com/npm/npm/releases
Using the force flag, I managed to fall back to 2
[code]
So then I tried using windows sdk console
[code]
I have a bunch of modules that seem to fail to compile but... For the first time installation process completes ! :trophy:
I can type
[code]
And that returns the following

[code]
So I guess as long as the npm dependency issue

[2015-09-29 16:04] jaideepdas commented on #255
@sam-github thanks it worked

[2015-09-30 13:06] gustavomick commented on #256
i believe this is likned to same problem

[code]

this failed with npm 2.x/3.x and node v4.1.1 on windows 10 ( fresh install with vs2015) . after that i installed slc with node 0.12.7 and was successful.

[2015-09-30 20:27] cgole commented on #252
dup of #965

[2015-09-30 20:27] #252 closed

[2015-10-01 06:01] poliver87 commented on #250
In the mean time, is there a way to disable strong-agent when using strong-pm on a production host?

[2015-10-02 23:59] glesage commented on #250
@bnoordhuis There is a fix under way? Anywhere we could see status or contribute?

Thanks!

[2015-10-03 16:42] bnoordhuis commented on #250
@glesage There's a fix ready to be released but the release is pending some non-technical issues.  I'll check if we can do a patch release next week.

[2015-10-03 16:57] glesage commented on #250
Ok that would be great! We've switched all our callbacks to promises on our codebase and I like to stay up to date with latest versions of strong-pm... (:

[2015-10-10 08:43] morana2mo opened #258 "Trouble with 'npm install -g strongloop'"
npm install -g strongloop

npm ERR! tar.unpack untar error /Users/morana/.npm/strongloop/5.0.1/package.tgz
npm ERR! Darwin 14.3.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "strongloop"
npm ERR! node v4.1.2
npm ERR! npm  v2.14.4
npm ERR! path /usr/local/lib/node_modules/strongloop
npm ERR! code EACCES
npm ERR! errno -13
npm ERR! syscall mkdir

npm ERR! Error: EACCES: p

[2015-10-10 22:50] rmg commented on #258
It appears you did not use `sudo` when attempting to install `strongloop`.

[2015-10-10 23:58] jfrazx commented on #258
rmg is correct, although, if using sudo before installing global npm modules is not desired, and my understanding is that it is not, you should consider reinstalling node with a non-root user.  Check this article for more information on that: http://www.johnpapa.net/how-to-use-npm-global-without-sudo-on-osx/

[2015-10-11 18:16] Instigater opened #259 "filter is not working in GET request"
I have a MongoDB connected to a StrongLoop API.

I've defined a model named "Section", FYI here is the Section.json:
[code]

I'm making a GET /Sections request with filter `{"crn":"10007"}`, however filter does not work. To clarify, objects returned are not filtered, it basically returns all properties at the collection. OTOH, MongoLab query feature filters correctly with exactly same JSON.

Am I

[2015-10-13 05:14] sam-github commented on #259
@Instigater This would better be asked in the loopback mailing list: https://groups.google.com/forum/#!forum/loopbackjs

If you don't get a response there, the loopback issue tracker would also be relevant: https://github.com/strongloop/loopback/issues

[2015-10-13 05:14] #259 closed

[2015-10-13 05:16] paulomcnally opened #260 "Warning on installation"
make: Leaving directory '/home/azureuser/.nvm/versions/node/v4.2.0/lib/node_modules/strongloop/node_modules/strong-supervisor/node_modules/strong-debugger/build'
    npm WARN deprecated jsonstream@1.0.3: use JSONStream instead

    [sqlite3] Success: "/home/azureuser/.nvm/versions/node/v4.2.0/lib/node_modules/strongloop/node_modules/minkelite/node_modules/sqlite3/lib/binding/node-v46-linux-x64/nod

[2015-10-13 05:25] raymondfeng commented on #259
The filter object for find() should have a `where` property to contain search criteria.

[2015-10-13 11:30] Shyri commented on #250
Hi
Any update on this? Im having the same issue with strong-pm.
Thanks!

[2015-10-13 16:23] danielrvt commented on #250
Same issue here... struggled for hours and hours... really annoying... Finally I'm just using PM2

[2015-10-13 17:04] sam-github commented on #260
Warnings are advisory. Have you experienced any issues using slc?

@jtary strong-arc could update https://www.npmjs.com/package/express-jsxtransform

@paulomcnally jsonstream is a dep of https://www.npmjs.com/package/jayson, they could probably update the dependency, though it appears to be working fine.

[2015-10-13 20:36] sam-github commented on #250
Fix has been published as strong-agent@2.0.2

[2015-10-14 01:51] javefang commented on #250
Thank you for fixing this. Confirmed working now!

On Tue, 13 Oct 2015 at 21:36 Sam Roberts <notifications@github.com> wrote:

[2015-10-15 15:58] natarajanmca11 commented on #260
I am getting the following error while install strongloop. slc arc is not working for me.

![image](https://cloud.githubusercontent.com/assets/9244766/10519450/6e14e3de-7383-11e5-90c2-0ef76bec743a.png)

[2015-10-15 17:46] rmg commented on #260
@natarajanmca11 you need to do `npm install --global strongloop` in order for the `slc` command to be available. Without it you are just installing it in the current directory along side app dependencies.

[2015-10-16 05:42] natarajanmca11 commented on #260
@rmg I tried both option. But no use. I am getting this issue after Nodejs exe upgrade to 4.2.0.

[2015-10-16 08:30] rmg commented on #260
@natarajanmca11 can you provide the contents of install2.log and npm-debug.log? The only thing your screenshot is showing are the expected error messages from optional dependencies. Are you able to install other global modules and run them?

[2015-10-19 14:03] natarajanmca11 commented on #260
hi @rmg
I shared the log file by email.
I am getting error because of validation.vcxproj. it is more related  to MSBuild action failed.
I have installed Visual Studio 2013 and 2015 community Edition in my local machine.
I tried with both version as follows.
npm install -g strongloop --msvs_version=2013
npm install -g strongloop --msvs_version=2015

please confirm strongloop supports node 4.2.0 ver

[2015-10-19 16:55] sam-github commented on #260
It does support v4.x, there are some expected errors in optional dependencies, but those do not effect its function.

[2015-10-20 07:40] natarajanmca11 commented on #260
![image](https://cloud.githubusercontent.com/assets/9244766/10600967/dc5174ec-772b-11e5-8e4c-4d02bad69d94.png)

[2015-10-21 07:12] natarajanmca11 commented on #260
Hi. @rmg
Now its working fine after updating npm package from 3.3.5 to 3.3.8.
I don't know the exact root cause for this issue. Anyway it is resolved for me.
Thank you.

[2015-10-22 22:20] rmg commented on #260
@natarajanmca11 for an explanation of the problem, see npm/npm#9685, which was fixed in npm v3.3.7.

[2015-10-23 07:58] natarajanmca11 commented on #260
@rmg Thank you. Now it is perfect in my local environment.

[2015-10-26 01:13] smartmouse commented on #246
we do not have root access, is there any workaround without root?

[2015-10-26 01:26] smartmouse commented on #251
just trying SLES 11 SP4  with 64 bit node 4.2.1
Still tons of errors:
https://gist.github.com/smartmouse/ced7759766a276c124c0

[2015-10-26 01:36] rmg commented on #246
The only reason root access is required for the workarounds is because root was used for installation.

[2015-10-26 15:56] ibm-boscoli opened #261 "Windows Install - Could not find WindowsSDKDir variable from the registry"
I've trying to install StrongLoop on windows 7 following the guide here -> https://strongloop.com/strongblog/install-node-js-windows/

At step 5, installing strongloop I'm getting a bunch of the below error

![image](https://cloud.githubusercontent.com/assets/14810992/10734117/127cd574-7bd8-11e5-9023-8dda20257023.png)

Was tying to l
1. https://github.com/strongloop/strongloop/issues/210 (the new

[2015-10-26 16:07] ibm-boscoli commented on #261
I just tried installing npm3 thinking it maybe a path issues for windows and read that npm3 may help, still failed with the same error.

[2015-10-26 17:27] cfjedimaster opened #262 "slc start throws an error in OSX related to strong-debugger"
Following the instructions here, https://docs.strongloop.com/display/SLC/Running+apps+with+slc, it says I can go into an existing app and simply do

    slc start

However, doing so gives me this error, repeated every second or so:

Unexpected exit with 1 from Runner: commit slionicfinal/local-directory
Start Runner: commit slionicfinal/local-directory
module.js:339
    throw err;
    ^

Error: Ca

[2015-10-26 17:42] cfjedimaster opened #263 "Documentation issue - missing link for StrongLoop Controller"
On this page, https://docs.strongloop.com/display/SLC/Debugging+applications, the link for "Getting started with StrongLoop Controller (tutorial)" is missing.

[2015-10-26 18:03] rmg commented on #261
Did you install the Windows SDK? Or just VS?

BTW, these errors should _not_ be fatal - the installation should be finishing, just with some functionality missing.

[2015-10-26 18:03] ibm-boscoli commented on #261
I installed Visual Studio Community 2015 instead of Visual Studio Express 2015, the same error is gone after I installed the right one.  I see other errors, I'll create a new issues instead.  Thanks for helping!

[2015-10-26 18:03] #261 closed

[2015-10-26 18:05] rmg commented on #262
This bug should have been fixed a couple weeks ago.

Is this from a recent installation? Or an older installation that you have not yet run `slc start` with yet?

Try re-running `npm install -g strongloop` and seeing if that helps.

[2015-10-26 18:08] ibm-boscoli opened #264 "Windows Install - A few errors"
Windows 7, Visual Studio Express 2015, follow this guide -> https://strongloop.com/strongblog/install-node-js-windows/

Below error appear during StrongLoop install

LINK : fatal error LNK1194: cannot delay-load 'node.exe' due to import of data symbol '"__declspec(dllimport) const v8::ArrayBuffer::Allocator::`vftable'

![image](https://cloud.githubusercontent.com/assets/14810992/10737765/69e5dac4-

[2015-10-26 18:31] crandmck commented on #263
Fixed.  That link was obsolete.
Thanks for catching!

[2015-10-26 18:31] #263 closed

[2015-10-26 18:49] rmg commented on #264
These are optional, known, and all related to outdated dependencies.

[2015-10-26 18:49] #264 closed

[2015-10-26 19:27] cfjedimaster commented on #262
I think I install strongloop about a month ago. But "slc -v" returns 5.0.1,
and npm info strongloop version also returns 5.0.1.

On Mon, Oct 26, 2015 at 1:05 PM, Ryan Graham <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcam

[2015-10-26 19:33] rmg commented on #262
This problem is in the strong-supervisor dependency, which is versioned separately. The updated version was released 2 weeks ago, so you will need to run `npm install -g strongloop` again to update its dependencies.

[2015-10-26 19:42] cfjedimaster commented on #262
That did it, and you've taught me something new to worry about in terms of
seeing if various npm-installed things are up to date. ;)

On Mon, Oct 26, 2015 at 2:33 PM, Ryan Graham <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymo

[2015-10-26 21:42] yeso126 opened #265 "Angular error on slc arc"
I've fresh instaled strongloop, after opening slc arc I can see the navbar but the app is blank, that is what console shows:

    Error: [$injector:modulerr] Failed to instantiate module Arc due to:
    [$injector:modulerr] Failed to instantiate module Metrics due to:
    [$injector:nomod] Module 'Metrics' is not available! You either misspelled the module name or forgot to load it. If registering

[2015-10-26 22:18] rmg commented on #265
@yeso126 would you mind reporting this on https://github.com/strongloop/strong-arc/issues ?

[2015-10-28 14:01] ismail-s opened #267 "npm install -g strongloop requires lots of RAM"
I use [cloud 9](c9.io) for development, and ran the command:

    npm install -g strongloop

It failed as the workspace I use has 512MB RAM. Which apparently isn't enough. As I'm using the free version of cloud 9, I am not able to resize the workspace.

At the very least, it should be made clear in the installation instructions just how much RAM is required to install this package. Although fixing

[2015-10-28 14:13] sam-github commented on #267
We don't have any control over how much memory npm uses. This is a cloud9 issue, IMO, if you can't use npm to install packages from github due to memory limitations.

Also, compilation of binaries isn't done by npm, so binary/not is irrelevant to the npm memory usage. I don't know what memory npm uses, but I assume its to track the dependency tree. I'll run it locally out of curiosity, but npm's m

[2015-10-28 14:16] ismail-s commented on #267
@sam-github I was following http://loopback.io/getting-started/

[2015-10-28 14:30] ismail-s commented on #267
Yeah, that didn't work. Tried various combos and whatnot, including

    npm install -g strong-arc

and I kept running out of memory. I'll mention it to cloud 9, see what they say then (you can close this issue if you want). If that doesn't work, then I'll just stick to express.

[2015-10-28 16:05] sam-github commented on #267
There isn't anything we can do about npm memory usage or cloud9 memory limits, unfortunately.

You could also just use the Yeoman CLI scaffolding tool directly: `npm install -g generator-loopback`. Even that isn't necessary, of course, you can implement a loopback app without ever using any of the tooling, I always create my models by writing the .json configuration directly, though I understand w

[2015-10-28 16:44] ismail-s commented on #267
Your `npm install -g generator-loopback` thing worked ie didn't burn through all the RAM. I've run out of time today, but before I go, I want to thank you for:

1. Being super-fast with your responses
1. Being detailed and helpful with your responses

Originally I was going to create my REST api with golang, but then I decided that there was more community support for node. And stuff like passport

[2015-10-28 16:45] ismail-s commented on #267
I also see no reason to keep this issue open now, reopen if you disagree.

[2015-10-28 16:45] #267 closed

[2015-10-28 22:10] sam-github commented on #267
I'm glad you got going, the loopback community on gitter and the mailing list is pretty active for when you have questions, which you surely will if you continue with it.

[2015-10-29 00:05] smartmouse commented on #246
You know what, I just ran into the same error on slc arc with a very different reasons and fixes on a different platform. I want to share it here for awareness.
I am on a recently upgrade SLES 11 SP4 ( the gcc compiler is 4.8.3),-- zlinux platform 64 bit Node 4.x
I do npm install -g strongloop (the usual thing )
Then I do slc arc inside a folder.
I got into the exact error.
The cause is my g++ ver

[2015-10-29 12:49] cebor opened #268 "npm ls: throws error for strongloop package"
Hi,

getting following errors with the strongloop pack and npm@3:

[code]

The second error maybe is related to https://github.com/tedeh/jayson/pull/58.

[2015-10-29 13:03] cebor commented on #268
Ok think the problem is that, osx is case-insensitive and the new "flat" design of npm@3.

https://www.npmjs.com/package/jsonstream
https://www.npmjs.com/package/JSONStream

Same packages with different case-sensitivity, and also a different version. 1.0.3 and 1.0.6 ^^

[2015-10-29 16:55] rmg commented on #268
There is a PR open to update some of the optional dependencies: #266

You could give it a try and see how it fairs: `npm install -g strongloop/strongloop#updated-hoisting`

[2015-10-31 10:18] cebor commented on #268
same error:

[code]

[2015-11-04 03:54] surfjedi commented on #268
+1

[2015-11-04 03:57] surfjedi commented on #256
+1

[2015-11-05 14:56] kesavkolla commented on #258
I ran npm -g install strongloop as root user still not able to install.

Node js version: 5.0
npm version: 3.3.12
OS: ubuntu 14.04

[2015-11-05 21:16] rmg commented on #258
@kesavkolla what were the errors?

[2015-11-07 09:01] giuseppeLeggero opened #269 "node-gyp (node lts 4.2.2)"
At this link:
https://docs.strongloop.com/display/SL/Installing+on+MacOS
you can see:

I solve the issue with npm-shrinkwrap.json
[code]
download it:
https://www.dropbox.com/s/tvjm5soixxqp5qz/npm-shrinkwrap.json?dl=0

copy the file into strongloop folder
delete node_modules folder
npm install

[2015-11-07 19:39] sam-github commented on #269
Sorry, what does shrinkwrap have to do with compiler tools? shrinkwrap will choose specific versions of dependencies... they still need installation. I suspect that what is happening is your shrinkwrap is post-install on a compilerless system, so when you install after shrinkwrap, it doesn't attempt to install any packages that failed the first time because of lack of a compiler.

So, you will ind

[2015-11-07 19:39] #269 closed

[2015-11-08 11:06] giuseppeLeggero commented on #269
NO.  please read carefully, as you write:

when you download a dependency, that will be compiled eg:
https://github.com/websockets/bufferutil/blob/1.1.0/package.json

and the compiler give you error like:
[code]
or other similar error, you should check compiler and compiling file.

my "shrinkwrap.json" chooses dependencies like "bufferutil 1.2.1" and other,
is important to use updated version of "

[2015-11-12 21:18] Joesimonsen opened #270 "30-day trail licenses not generated from Bluemix"
Customer wrote in today and it seemed they did not automatically get a 30-day trial license when running from Bluemix.

[2015-11-12 21:30] #270 closed

[2015-11-14 22:57] darokel opened #271 "Can't install on Node 4.2.2/5.0.0"
This is what I get when I try to install Strongloop on OSX El Capitan

https://gist.github.com/darokel/cab94d0dd59a7cbfc91f

[2015-11-15 01:38] sam-github commented on #271
That's strange, strong-fork-syslog is no longer a dependency of strongloop, but its showing up in your build: `.nvm/versions/node/v5.0.0/lib/node_modules/strongloop/node_modules/strong-fork-syslog`.

Its possible you are stuck on a previous version, the beginning of the npm-debug.log would tell me what version was being installed of strongloop, but its missing. A gist, http://gist.github.com, is a

[2015-11-15 14:35] darokel commented on #271
I still haven't had any success after cleaning the cache. The `npm-debug.log` doesn't give much (one wasn't even generated after the installation). It only generated when I ran `npm issues` and this was the ouput:

https://gist.github.com/darokel/41e445c4d8f85c6c3aa5

[2015-11-16 01:14] activestylus opened #272 "Can't install Strongloop"
When I try to npm install it spits out a lot of errors, but the install completes. Then I try to run slc but command is not found.

[code]

[2015-11-16 01:19] rmg commented on #272
@activestylus what version of npm are you using? It's not clear from the output provided that the installation was successful after all the errors (though it should have been).

How have you configured your `$PATH` to allow global modules to be installed in `~/.node/` while using `npm` globally installed in `/usr/local`

[2015-11-16 01:45] activestylus commented on #272
My PATH is configured. I can install executables from other libs with no problems. Installing strongloop takes a very long time btw.. at least 25 minutes before it even reaches this error, so debugging is quite painful.

[2015-11-16 01:46] activestylus commented on #272
I'm on node v4.2.2
npm v3.4.0

[2015-11-16 02:21] rmg commented on #272
@activestylus I can see your `$PATH` is set, I'm more curious about how you have configured/installed node to use 2 different locations for global modules. I ask because I am not able to reproduce this problem using a typical installation of node-v4.2.2 + npm-v3.4.0.

Does `strongloop` show up in the output of `npm ls -g --depth=0`?

[2015-11-16 03:36] sam-github commented on #272
Note that strongloop does nothing special to cause `slc` to be installed, it's package.json says what should be installed, https://github.com/strongloop/strongloop/blob/master/package.json#L72, and npm does the rest.

Can you check you have a working npm install by doing `npm install -g semver; semver -h`? You should see the semver utility help output.

[2015-11-16 08:39] rmg commented on #271
There was a bug in npm@3 that was [fixed in 3.3.7](https://github.com/npm/npm/commit/2289234e11b30c878585aebee68d4a3a5bd63cce), the version just after the one you are running. The problem was that the optional sub-dependencies were not being treated as optional so when they failed to install (like strong-fork-syslog does on node-4), they would cause the entire install to fail.

For resolving this

[2015-11-16 13:59] activestylus commented on #272
Yep

[code]

[2015-11-16 14:00] activestylus commented on #272
Any idea why the install would take so long? I know that NPM 3 is considerably slower then v2 for now, but half an hour to install a framework seems excessive

[2015-11-16 21:01] darokel commented on #271
Yup, upgrading to `npm install -g npm@latest` worked. Thanks!

[2015-11-16 21:01] #271 closed

[2015-11-16 22:24] activestylus commented on #272
OK I just tried a fresh install again and it did so without a hiccup in exactly two minutes. I think we can probably chalk this up to flaky NPM behavior

[2015-11-16 22:24] #272 closed

[2015-11-17 05:48] chulkilee commented on #265
See strongloop/strong-arc#1603

[2015-11-17 11:45] fospitia commented on #258
This work with node v4.2.2 but not with v5

sudo npm install -g node-gyp
sudo npm install -g strongloop --unsafe-perm

OS: Fedora 22

[2015-11-17 13:04] AlanLes opened #273 "Issue during instalation with python?bufferutil?node-gyp?"
Hello, since Friday i can't win with this issue. I was trying to
`npm install -g strongloop`, and I get so many errors, like:

[code]

[2015-11-17 16:48] smartmouse commented on #273
https://github.com/nodejs/node-gyp  -- the software requirement for python is documented there. You will need to use an older python version

[2015-11-17 17:07] AlanLes commented on #273
Okay, so I did:
`$ npm install -g node-gyp`, then:
`$ npm config set python /path/to/executable/python2.7`
and then finally:
`$ npm install -g strongloop`
the result is as  terrifying as before, but a little different:
[code]

[2015-11-17 18:32] bnoordhuis commented on #273
Does `npm install --force -g strongloop` work?  I believe that error is a bug in npm's cache handling logic.

[2015-11-18 06:57] AlanLes commented on #273
the same errors as above.

[2015-11-18 07:22] rmg commented on #273
It is a little hard to tell from the truncated log lines, but these look like they might be the usual set of dependencies that are expected to fail on node-v4. Note that they are optional, and the installation does ultimately succeed - even in the initial issue report.

And for better or for worse, Microsoft has translated their error messages, so I'm not even sure what the error messages are. Hav

[2015-11-18 07:29] rmg commented on #258
@fospitia if you were using node-v5.0.0, were you using the version of npm that came bundled with it? If so, it is known not to work. You need to either downgrade npm to 2.x (`npm install -g npm@latest-2`) or upgrade it to a newer 3.x (`npm install -g npm@latest`).

@kesavkolla are you still looking for help?

@morana2mo this issue was originally yours, were you able to get things working?

[2015-11-18 08:30] kesavkolla commented on #258
Yes it works with latest npm 3.3.1 version.

[2015-11-18 09:10] bnoordhuis commented on #273
Looks like you're hitting two things:

1. The EPERM error is most likely a bug in npm that you can sidestep with `--force`.

2. That MSB3428 error means you need to install Visual Studio 2013 or 2015.  Note that just the Windows SDK isn't sufficient, it doesn't ship with a C++ compiler anymore.

[2015-11-18 09:30] AlanLes commented on #273
Okay, so I've installed Windows SDK and Visual Studio 2015.
Now it looks like:
[code]

[2015-11-18 09:34] bnoordhuis commented on #273
You need to set up the environment, see [here](https://gist.github.com/kosmobot/6020327).

[2015-11-18 10:10] AlanLes commented on #273
For windows 10 the same story?

[2015-11-18 10:21] AlanLes commented on #273
But I have Windows 10, and SDK which I downloaded and installed is:
https://dev.windows.com/en-us/downloads/windows-10-sdk

[2015-11-18 10:36] bnoordhuis commented on #273
Let me repeat that just the SDK is not enough, you also need Visual Studio 2013 or 2015.  The Express edition is sufficient.

[2015-11-18 10:38] AlanLes commented on #273
Like I said before (2 posts above):
[code]
? :)

[2015-11-18 10:44] bnoordhuis commented on #273
Oh, like that.  Just change it to the path for your SDK install.  If you don't have a setenv.cmd, look for a file called vcvarsall.bat.

[This page](https://msdn.microsoft.com/en-us/library/f2ccy3wt.aspx) has instructions on how to start a preconfigured shell from VS, grep for 'Developer Command Prompt'.

[2015-11-18 11:54] AlanLes commented on #273
okay, in my case it was more helpful:
https://msdn.microsoft.com/en-us/library/1700bbwd.aspx
So I've installed SDK and Visual Studio 2k15, I think the environment is set.
Finaly did it, so now my gitbash looks like that:
[code]
It means still the same errors..
..but I have a question, maybe it's all because I have node v4.2.1?

[2015-11-18 14:10] AlanLes commented on #273
I think the problem may be in the CL.exe file:
[code]
so I'll modify my Visual Studio 2015 so that there is the missing CL.exe file.

[2015-11-18 15:30] AlanLes commented on #273
Can I consider this issue as closed and the problem as solved? :)
[code]

[2015-11-18 15:34] bnoordhuis commented on #273
Yep, looking good.  Glad to see you solved it, I'll close the issue.

[2015-11-18 15:34] #273 closed

[2015-11-19 10:16] andziaoo7 opened #275 "Not sure if installed strongloop successfully"
Hi everyone!
I was trying to install strongloop but I got some errors during this. So I typed command npm install --force -g strongloop and I think that installation was finished successfully but in the console I've found this:

c:\program files\nodejs\node_modules\strongloop\node_modules\strong-arc\node_mo
dules\strong-pm\node_modules\strong-supervisor\node_modules\strong-fork-syslog\
node-syslog

[2015-11-19 12:40] andziaoo7 commented on #275
It turned out that these fatal errors had impact on strongloop although the intallation  process finished with success. I cannot run slc and create model so I install again loopback but this time I typed "$ npm install loopback" without -g and installation went smoothly without any errors :)

[2015-11-20 05:55] rmg commented on #258
Closing. @morana2mo if you still need help with your problem feel free to re-open.

[2015-11-20 05:55] #258 closed

[2015-11-20 12:32] ShashankDesai commented on #205
Same here. I'm stuck at
npm verb get https://registry.npmjs.org/loopback not expired, no request
npm verb addNamed "2.25.0" is a plain semver version for loopback
npm verb afterAdd /home/shashank/.npm/loopback/2.25.0/package/package.json not in flight; writing
npm verb afterAdd /home/shashank/.npm/loopback/2.25.0/package/package.json written
loadDep:sl-blip -> networ \ |#######################----

[2015-11-20 20:55] prusanoff commented on #246
Hey guys so from the jist of it i understand it as the i have a different line version of linux so it cant find the driver i have it installed but instead of having 'node-v46-linux-x64/node_sqlite3.node' i have 'node-v11-linux-x64' so just copy it over and good to go?

[2015-11-20 23:49] rmg commented on #246
@prusanoff that sounds more like you installed using an older version of node and then upgraded node. Based on the numbers, I'd guess you changed from node v0.10.x to v4.x. You should run `npm rebuild -g strongloop` in that case and expect a bunch of warnings and error messages as it tries to build a bunch of native addons that don't support node 4.x yet.

[2015-11-20 23:57] rmg commented on #205
@ShashankDesai are you behind a firewall or proxy that blocks access to some hosts? If so, that would slow things down considerably while npm waits for certain requests to timeout.

[2015-11-21 19:02] ShashankDesai commented on #205
Hey it worked... That was a lot of dependencies to install.
I cleared npm cache though.

[2015-11-22 18:40] rmg commented on #260
Looks like tedeh/jayson#58 has been landed and released as jayson@1.2.2, so that takes care of our final jsonstream/JSONStream warning :-)

[2015-11-22 18:41] rmg commented on #268
Looks like tedeh/jayson#58 has been landed and released as jayson@1.2.2, so that takes care of our final jsonstream/JSONStream warning :-)

[2015-11-22 18:42] rmg commented on #268
@cebor the jsonstream/JSONStream has been fixed, and I can't reproduce the extraneous jsonparse issue, so I'm going to close this now. Thanks for reporting it :-)

[2015-11-22 18:42] #268 closed

[2015-11-22 18:45] rmg commented on #251
Looks like tedeh/jayson#58 has been landed and released as jayson@1.2.2, so that takes care of our final jsonstream/JSONStream warning :-)

[2015-11-22 20:46] rmg commented on #205
I'm going to close this since most of the conversation seems to be unrelated to the original issue.

@RV2013 please re-open if you are still having the problem originally described.

[2015-11-22 20:46] #205 closed

[2015-11-23 15:30] sam-github commented on #254
This would best be opened on github.com/strongloop/loopback

/cc @superkhau

[2015-11-23 15:30] #262 closed

[2015-11-23 15:33] #265 closed

[2015-11-23 15:35] sam-github commented on #275
You are using a very old version of supervisor, it depends on a package we no longer use: `strong-supervisor\node_modules\strong-fork-syslog`. This is odd, could you please `npm cache clear; npm install -g strongloop` to try a fresh re-install and see if npm installs the most recent code, as it should?

[2015-11-23 15:36] #260 closed

[2015-11-23 15:36] sam-github commented on #251
@rmg should this be closed now?

[2015-11-23 18:46] superkhau commented on #254
Closing. @rkmax Please comment at https://github.com/strongloop/loopback/issues/1833

[2015-11-23 18:46] #254 closed

[2015-11-23 19:23] #251 closed

[2015-11-23 22:58] prusanoff commented on #246
@rmg  When i first installed node npm together yes it was v 0.10x however i upgraded it right away to v4. This was the most practical way to install node and also following the instructions on node's site

[2015-12-01 16:56] HuemanF commented on #246
For anyone who gets here with this problem

I fixed with following steps

sudo npm install -g sqllite3       <---------------extra l in sqlite3  :) cost me 10 min

[2015-12-01 17:09] HuemanF opened #276 "New Installs cant run pm because of Sqlite3 failure"
slc pm
module.js:340
    throw err;
    ^

Error: Cannot find module '/usr/lib/node_modules/strongloop/node_modules/minkelite/node_modules/sqlite3/lib/binding/node-v47-linux-x64/node_sqlite3.node'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.<anonym

[2015-12-01 17:16] HuemanF commented on #276
node-**v11**-linux-x64/node_sqlite3.node' is present . if i rename folder  to v47 i get:

 slc pm
module.js:450
  return process.dlopen(module, path._makeLong(filename));
                 ^

Error: Module did not self-register.
    at Error (native)
    at Object.Module._extensions..node (module.js:450:18)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:313:12)
    at

[2015-12-01 18:24] Setogit commented on #276
@HuemanF What are your Node version and sqlite3 version you have here?
/usr/lib/node_modules/strongloop/node_modules/minkelite/node_modules/sqlite3/package.json

[2015-12-01 23:13] rmg commented on #276
For anyone finding this later, `npm install -g strongloop` was done with node-v0.10.x and then node was upgraded to v5.x without reinstalling/rebuilding the binary dependencies. When `slc pm` was run under node-v5 it looked for the sqlite3 binary for node-v5, not v0.10 which is what was originally installed.

[2015-12-03 00:20] rmg commented on #275
@sam-github the old version of strong-supervisor is pulled in from strong-pm from strong-arc

[2015-12-16 17:03] dpundir opened #277 "relational database: source field name option in relation configuration"
<b>Support of source(keyFrom) field name option in relation configuration i.e. source.sourceKey -> target.targetKey</b>

<b>Example:</b>
"Customer" model configuration can have below relation config:
  "relations": {
    "address":{
      "type": "hasOne",
      "model": "Address",
      "foreignKey": "id"
    }
  }

This relation gets its foreignKey values from primary key("id") of the model i.e.

[2015-12-16 17:19] raymondfeng commented on #277
@dpundir We already support the `primaryKey`. See https://github.com/strongloop/loopback-datasource-juggler/commit/d0f9b760f5a58228c66580ecf80611a21f08c5c9

[2015-12-16 17:19] #277 closed

[2015-12-17 05:02] dpundir commented on #277
This should not be closed.
"primaryKey" generally is "id" field of the table. What i am pointing here, is actual foreignkey in referencing table(i.e. customer).
Current design only supports fetching related data based on referencing table primaryKey. If the primaryKey is not in sync in both tables then it gives incorrect results.
like customer id 1 is referencing address id 2 but current design wi

[2015-12-17 16:02] dpundir opened #278 "relational database: source field name option in relation configuration"
Related to #277
"primaryKey" generally is "id" field of the table. There should be support of actual foreignkey in referencing table.
Current design only supports fetching related data based on referencing table primaryKey. If the primaryKey is not in sync in both tables then it gives incorrect results.
like customer id 1 is referencing address id 2 but current design will search address having id

[2015-12-17 17:00] sam-github commented on #278
Please open this against http://github.com/strongloop/loopback, or perhaps the juggler, where is best @superkhau ?

[2015-12-17 17:23] dpundir commented on #278
I opened issue #794 on "loopback-datasource-juggler" as the file "relation-definition" belongs to them.

[2015-12-23 15:59] pvijeh opened #280 "Suggest Revising "Deploy your Application" Documentation"
The documentation describing how to deploy a strong loop app is lacking.

this---> https://docs.strongloop.com/display/public/LB/Deploying+your+application

I find that having attempted to follow the instructions,  I do not meet with a successful deployment.

This particular area of the Strongloop documentation is particularly convoluted and of poor quality.

You might consider revising this area

[2015-12-23 18:04] sam-github commented on #280
@pvijeh Thanks for the feedback. It would help to address this if you had some more specific comments on where you got stuck.

Also, have you seen http://strong-pm.io? It has a different presentation, you might find it works better for you.

/cc @crandmck

[2015-12-23 18:07] pvijeh opened #281 "Typo in Documentation"
https://strongloop.com/strongblog/best-practices-express-js-process-manager/

This article has a typo in one of the commands.  This command reads:

peter@loopback-api2:~$ slc pm -l 7777
sl-pm(1674): StrongLoop PM v5.1.0 (API v6.1.0) on port `7777`
sl-pm(1674): Base folder `/home/peter/.strong-pm`
sl-pm(1674): Applications on port `3000 + service ID`
Browse your REST API at http://127.0.0.1:7777/ex

[2015-12-23 18:26] pvijeh commented on #280
Thanks Sam.

when following the steps here:

http://strong-pm.io/prod/

I get this error:

Error connecting to server: { [Error: connect ECONNREFUSED]
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect' }
Failed to deploy `../placesAPI-1.0.0.tgz` as `placesAPI` to `
http://104.131.66.124:8701/` via `http://104.131.66.124:8701/`

I have setup my ssh key--- but I assume there is so

[2015-12-23 20:22] pvijeh commented on #280
I was able to get the deploy command to work by opening up port 8701 in my
server's firewall.   however,  the app still does not run on port :3001 of
my server as the tutorial suggests it will.

any ideas on what might have gone wrong?

On Wed, Dec 23, 2015 at 1:26 PM, peter v <pvijeh@gmail.com> wrote:

[2015-12-23 22:07] sam-github commented on #280
what does `slc ctl status` say about the app? What about `slc ctl log-dump`?

[2015-12-23 22:13] pvijeh commented on #280
slc ctl status says the following:

Service ID: 1
Service Name: placesAPI
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Debugger version  Cluster size  Driver metadata
     5.1.0       2.0.2             n/a              1             N/A
Processes:
       ID      PID  WID  Listening Ports  Tracking objects?  CPU
profiling?  Tracing?  Debugging?

[2015-12-23 22:30] sam-github commented on #280
Your workers are continuously dieing because they are making an outgoing request to `2015-12-23T22:09:09.822Z pid:2234 worker:57 Error: connect ECONNREFUSED
127.0.0.1:5432`, a closed port, and not handing the error event.

[2015-12-23 23:24] crandmck commented on #281
Thanks for noticing!  I fixed this.

[2015-12-23 23:24] #281 closed

[2015-12-23 23:57] crandmck commented on #280
They should be deterministic; that is, if you follow them, then you the results will be as described.
Naturally, if that wasn't your experience we'd like to know what went wrong.
Can you be more specific about what you did and what happened?

[2015-12-30 19:55] pvijeh opened #283 "slc deploy command randomly stops working and 'hangs' without errors"
Yesterday I was able to use the slc deploy command successfully.  Today, that command just hangs without any error messages or any conclusions.

I am deploying to a remove ubuntu instance.  Not sure what other details to provide that would help.

Here is the output of the logs from strong-pm running  on my remote box:

pvijeh@places-api:/var/log/upstart$ sudo tail strong-pm.log
2015-12-30T07:58:18

[2015-12-30 20:51] pvijeh opened #284 "App is accessible when run using sl-pm, but not when using "sudo /sbin/initctl start strong-pm""
I have a loopback app running on a remote box.

The app runs fine when I execute the "sl-pm" command.    I can access the api at IPADRESS:3001 as expected.   However,  when I try to run the app using the " sudo /sbin/initctl start strong-pm" command as the documentation suggest I get an error that looks like this in the logs:

pvijeh@places-api:/var/log/upstart$ sudo tail strong-pm.log -n 100
2015

[2015-12-30 20:56] sam-github commented on #284
[code]

Your app is exiting (and being restarted) because its failing to auth against postgres, any idea why that is?

[2015-12-30 20:59] pvijeh commented on #284
Yes,  somehow the server/datasource.json file has an old password for the postgres user.  I can't update this through a deploy-- because deploying fails with an error like this for some reason:

Error connecting to server: { [Error: connect ETIMEDOUT 198.105.244.228:8701]
  code: 'ETIMEDOUT',
  errno: 'ETIMEDOUT',
  syscall: 'connect',
  address: '198.105.244.228',
  port: 8701 }

But,  why would

[2015-12-31 05:55] rmg commented on #284
@pvijeh when you run pm with `sl-pm` it is running as your current user and using `~/.strong-pm` as its base directory. When you run `sudo start strong-pm` it is starting a service running as the `strong-pm` user and using `/var/lib/strong-pm` as the base directory. They are completely separate and apps deployed to one are not deployed to the other. Additionally, if you try running both instances

[2015-12-31 20:24] HuemanF commented on #276
So if node is updated before installing strongloop there "should" be fine. I will try that.
 Thanks.

[2015-12-31 22:35] pvijeh opened #285 "slc deploy does not deploy changes to app"
I am building a loopback app that is deployed using strongloop to a remote box running strong-pm.

I have made some changes to my local app,  but when I deploy them to the remote box using:

slc build

followed by

slc deploy http://IPADDRESS

the changes are not reflected on the  app running on the remote box.

Even after rebooting the remote box using 'sudo reboot'  or restarting strong-pm using

[2015-12-31 22:36] rmg commented on #285
@pvijeh what is in `/var/log/upstart/strong-pm.log`?

[2015-12-31 22:40] pvijeh commented on #285
I have pasted in the last 100 lines of that log below.

Notably there is an error connecting to postgres which i can fix by
directly modifying the files on the server located here:

pvijeh@places-api
:/var/lib/strong-pm/svc/1/work/c2965638b5008bcbab48164b037705b26af0d3aa.1451600828087/server$

the reason for that error is the new password saved in the local version of
the app is not being reflecte

[2015-12-31 22:50] pvijeh commented on #285
Its as if it is deploying some old version of the app from somewhere.

[2015-12-31 22:55] pvijeh commented on #285
I tried completely deleting the deploy branch and then rebuilding the app for deployment.  This did not work and the problem persists.

Here is what I did:

$ git checkout deploy
$ rm -rf *
$ git checkout master
$slc build
$slc deploy

still an old version of the app gets deployed to the server

[2015-12-31 23:03] pvijeh commented on #285
Is there a way that I can ensure slc is deploying using git and not a tar file?

[2015-12-31 23:14] pvijeh commented on #285
I made a writeup of the problem on stackoverflow here:

http://stackoverflow.com/questions/34552333/changes-to-loopback-app-not-being-deployed-via-slc-deploy

[2015-12-31 23:29] rmg commented on #285
From `slc deploy --help`:

This means if you have a `.tgz` file in the parent directory that was created by running `slc build` then it will deploy that. If it doesn't find such a file, it will deploy your `deploy` branch, using git.

[2015-12-31 23:39] rmg commented on #285
You have also posted the same general problem in other places:
 * http://stackoverflow.com/questions/34537296/strongloop-pm-app-wont-run-when-using-sudo-sbin-initctl-start-strong-pm-comm
 * http://stackoverflow.com/questions/34520137/strongloop-process-manager-error-password-authentication-for-user-user
 * http://stackoverflow.com/questions/34502741/strongloop-slc-clt-error-failed-with-error-read-

[2016-01-08 17:58] mostlycarbonite opened #286 "slc command not found after install"
Same issue but not a resolution: https://github.com/strongloop/strongloop/issues/127

Steps:
[code]

This is a fresh server running CentOS 7. I may have missed some steps or goofed up the node install. But `semver` seems to be fine. I can start up `sl-pm` with no issues.

[2016-01-08 18:16] smartmouse commented on #286
which node version and which npm version?

[2016-01-08 18:23] mostlycarbonite commented on #286
[code]

[2016-01-08 18:28] rmg commented on #286
There is definitely something weird going on!

@mostlycarbonite how/why are you using such an ancient version of npm? You also appear to have installed the strongloop module's dependencies without installing _it_. `npm install -g strongloop` shouldn't even be creating bin commands for `sl-pm`, `sl-pm-install`, etc..

How did you install node and npm?

[2016-01-08 18:28] mostlycarbonite commented on #286
Damn, I just realized that npm is very outdated. What the heck! Investigating...

[2016-01-08 19:01] mostlycarbonite commented on #286
Checked my notes, looks like I had used `yum` to install npm; part of troubleshooting why node hadn't installed correctly on a fresh CentOS 7 box. Yum's version must be very outdated. Uninstalled npm via yum, then uninstalled node, then installed node via nvm, then install strongloop tools and it's all working fine now.

[2016-01-08 19:01] #286 closed

[2016-01-08 22:37] smartmouse commented on #286
The default npm version for node 4.2.3 should be 2.14.7. How come you have such an old npm version? I do not have CentOS 7.1 OS , just other linux system. I can install -g strongloop  and have slc running w/o issue.  May  be you can update your npm .

lrwxrwxrwx 1 strongbot user       41 Jan  7 22:48 slc -> ../lib/node_modules/strongloop/bin/slc.js

-bash-4.2$ slc -v
strongloop v6.0.0 (node v4.2.3

[2016-01-14 19:26] superkhau opened #287 "Each slc deploy commit results in new directory"
See https://github.com/strongloop/loopback/issues/1956.

[2016-01-14 19:30] superkhau commented on #287
@cgole ^

[2016-01-14 19:35] rmg commented on #287
@superkhau this is a duplicate of strongloop/strong-pm#263

[2016-01-14 19:35] #287 closed

[2016-01-14 19:42] superkhau commented on #287
@rmg TY

[2016-01-16 10:40] skolesnyk opened #288 "On vps boot/reboot can't connect to redis even though redis.service is enabled"
The redis service is enabled to be launched on reboot.  After "restart redis", the connection is established and all is fine, but it has to be done manually. Also, it doesn't seem to connect to postgresql, so cluster must be restarted.

The vps is a snapshot copy of a working vps server. All is in working order with db setup, and all that. Again, this happens only on boot/reboot.

Is it because th

[2016-01-19 12:39] developersencha opened #289 "Installation Error - Node.js Version"
The installation of Strongloop fails with node.js version 4.2.4 LTS.
Trying with the versions I found that v.0.12.7 is ok.
What is the maximum version of node that strongloop installs properly?
Is any other way to install strongloop with node.js version >=4.0.0?

[2016-01-19 14:36] sam-github commented on #289
We support at least the latest of all the major versions: 0.10, 0.12, v4.x, v5.x, and it just installed for me with node.js 4.2.4 and Ubuntu.

Can you describe what failed?

[2016-01-20 12:37] developersencha commented on #289
I have Windows 8.1 and after I disabled the AVG antivirus, I managed to install strongloop with node.js version 4.2.4 LTS. Probably this was the cause (although doesn't explain why I installed it with v.0.12.7).

Thanks for your time

[2016-01-20 12:37] #289 closed

[2016-01-20 14:26] wision opened #290 "Update node-inspector dependency"
Hello,

any chance of updating node-inspector dependency? I'm experiencing `Uncaught TypeError: window.getComputedStyle(...).getPropertyCSSValue is not a function` which was fixed in node-inspector more than a year ago, but current version is even older. Thank you.

[2016-01-20 16:46] rmg commented on #290
There was _some_ discussion in #185. There were problems last time it was looked into.

[2016-01-20 16:52] wision commented on #290
Sorry, I must have missed that pull request.. thanks for the information.

[2016-01-21 20:14] sam-github commented on #288
Possibly that is why your app is crashing, because you are starting it before the services it needs.

[2016-01-21 20:14] #288 closed

[2016-01-21 20:16] skolesnyk commented on #288
So I've figured. I just don't understand why it's happening since I've just enabled services as they are. I thought the app would finally reconnect once other services are up, but it just doesn't. So, it could be something with loopback framework, rather.

[2016-01-23 08:39] toplinuxsir opened #292 "Does strongloop support es6 yield style with model query function ?"
for example with es6 syntax and babel translate:
  function query() {
   var reslt  =      yield Model.find({filed:fieldValue});
   console.log(result);
}

[2016-01-30 08:41] katherdx commented on #228
I am also getting same error.. any solution ?

[2016-02-01 21:26] superkhau opened #293 "Cannot install strongloop with npm without errors thrown during intallation"
When I try to install Strongloop on Windows 8.1  many errors are thrown. Eventually it is installed and "slc loopback" works. But what do all those errors mean? Why it happens? Do they lead to errors someday in my app?

Here is the result of `$ npm install -g strongloop`:
[code]

[2016-02-01 21:38] rmg commented on #293
@superkhau this bug isn't actionable. Some dependencies require build tools and some dependencies simply don't work on Windows. The original issue was stale and should have been closed, not moved.

[2016-02-01 21:38] #293 closed

[2016-02-01 23:15] superkhau commented on #293
@rmg TY, we're going through a bunch of old issues on LB and will probably forward some more this way (after I figure out if its stale or not).

[2016-02-02 05:47] MrOrz opened #294 ""Bundling dependencies" page in the documentation is outdated"
The documentation page: https://docs.strongloop.com/display/SLC/Bundling+dependencies

`.npmignore` and `.gitignore` are mentioned in the documentation, however in the most recent implementation (strongloop v6.0.0 w/ strong-build v2.1.0), `slc build --pack` uses [strong-pack](https://github.com/strongloop/strong-pack), which almost does nothing but packing the whole directory into a tarball. It se

[2016-02-02 15:14] sam-github commented on #293
It also references an ancient version of slc, we don't use that module anymore.

[2016-02-02 18:19] crandmck commented on #294
@sam-github I can see that the `--bundle` option is gone.  Should I just remove the above-mentioned doc altogether?

Should docs say that?  Or is there a better recommendation?

[2016-02-03 02:18] MrOrz commented on #294
I think [the doc](https://docs.strongloop.com/display/SLC/Bundling+dependencies) should be clear about what slc does and does not do.
Currently it mentioned a lot of functionality that is attractive to developers, but as they dig in, they would find out that the doc gives nothing but broken promises.

[2016-02-03 19:45] sam-github commented on #294
@MrOrz sorry, the docs are lagging behind the source (because we forgot to notify @crandmck).

Feel free to install an older version of strong-build - it implements all those features. Also, you are free to use `npm pack` directly, since the output of strong-build is compatible with it. Either tool can be used to produce input for strong-pm (or indeed, to publish to npmjs.org).

Our users found th

[2016-02-04 00:34] crandmck commented on #294
I updated https://docs.strongloop.com/display/SLC/Bundling+dependencies.  @MrOrz I hope (and believe) that it now accurately reflects what the tool does currently; PTAL.

[2016-02-04 00:42] MrOrz commented on #294
:+1: thanks for the timely update!

[2016-02-04 00:42] #294 closed

[2016-02-09 18:19] idushes opened #295 "ipv6 REST API"
How to listen ipv6 ?

[2016-02-09 21:36] Joesimonsen opened #296 "Errors on strongloop install"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#1356](https://strongloop.zendesk.com/agent/tickets/1356)
**Priority:** N/A
**Group:** SL Support
**Assignee:** Samuel Thompson
**Support Type:** prospect
**Case Type:**
**Component:**
**Severity:**
**CritSit Update:**
**GitHub ID:**
**IBM CIN Number:**

**Original ticket description:**

<blockquote><div class="zd-comment">
<p>(See a

[2016-02-09 21:36] Joesimonsen commented on #296
*Comment made from Zendesk by Samuel Thompson on 2016-02-09 at 17:23:*

<blockquote><div class="zd-comment">
<p>Hi Gonzalo,</p>
<p>Could you try running these commands?</p>
<pre><code>sudo chown -R $USER /usr/local/bin
sudo chown -R $USER /usr/local/lib/node_modules
npm install -g strongloop
</code></pre>
<p>It's identical to your steps except we've taken the <code>sudo</code> off of the front of

[2016-02-09 21:36] Joesimonsen commented on #296
*Comment made from Zendesk by Gonzalo Vega on 2016-02-09 at 18:58:*

<blockquote><div class="zd-comment">
<p>Hi Samuel, it didn’t work.</p>

<p>GoVeM:Sites Gonzalo$ sudo chown -R $USER /usr/local/bin
<br>Password:
<br>GoVeM:Sites Gonzalo$ sudo chown -R $USER /usr/local/lib/node_modules
<br>GoVeM:Sites Gonzalo$ npm install -g strongloop
<br>npm WARN deprecated <a href="mailto:lodash@2.4.2" rel="nor

[2016-02-09 21:36] Joesimonsen commented on #296
*Comment made from Zendesk by Samuel Thompson on 2016-02-09 at 19:51:*

<blockquote><div class="zd-comment">
<p>Hi Gonzalo,</p>
<p>Can you send me the output of these commands on your system?</p>
<pre><code>npm -v
node -v
ls -1 /usr/local/lib/node_modules/
</code></pre>
<p>Thanks,</p>
<p>Sam</p>
</div></blockquote>

[2016-02-09 21:36] Joesimonsen commented on #296
*Comment made from Zendesk by Gonzalo Vega on 2016-02-09 at 19:57:*

<blockquote><div class="zd-comment">
<p>GoVeM:Sites Gonzalo$ npm -v
<br>3.7.1
<br>GoVeM:Sites Gonzalo$ node -v
<br>v5.4.1
<br>GoVeM:Sites Gonzalo$ ls -1 /usr/local/lib/node_modules/
<br>aws-sign
<br>forever
<br>generator-angular
<br>generator-karma
<br>generator-sails-angular
<br>jade
<br>mocha
<br>n
<br>nodemon
<br>npm
<br>parse

[2016-02-09 21:36] Joesimonsen commented on #296
*Comment made from Zendesk by Samuel Thompson on 2016-02-09 at 21:25:*

<blockquote><div class="zd-comment">
<p>Hi Gonzalo,</p>
<p>Looks like everything is good so far, can you run this last command pates the output here?</p>
<pre><code>slc -v
</code></pre>
<p>If that's giving you the versions of everything installed, see if you can run these commands:</p>
<pre><code>mkdir ~/loopback-test
cd ~/loo

[2016-02-09 21:36] Joesimonsen commented on #296
*Comment made from Zendesk by Gonzalo Vega on 2016-02-09 at 21:28:*

<blockquote><div class="zd-comment">
<p>No luck.</p>

<p>GoVeM:Sites Gonzalo$ slc -v
<br>-bash: slc: command not found</p>

<p>--
<br>Gonzalo Vega
<br>Wit-Labs
<br>02 2704 5096
<br><a href="mailto:gvega@wit-labs.com" rel="noreferrer">gvega@wit-labs.com</a></p>

<p>&gt; El 09-02-2016, a las 6:25 p.m., StrongSupport &lt;<a href="ma

[2016-02-09 21:37] Joesimonsen commented on #296
*Comment made from Zendesk by Samuel Thompson on 2016-02-09 at 21:37:*

<blockquote><div class="zd-comment">
<p>Gonzalo,</p>
<p>I am escalating this to the developers, they should be able to offer some insight here.</p>
<p>Cheers,<br>
Sam</p>
</div></blockquote>

[2016-02-09 21:38] Joesimonsen commented on #296
*Comment made from Zendesk by Gonzalo Vega on 2016-02-09 at 21:38:*

<blockquote><div class="zd-comment">
<p>Thank you very much.
<br>Have a nice day.</p>

<p>--
<br>Gonzalo Vega
<br>Wit-Labs
<br>02 2704 5096
<br><a href="mailto:gvega@wit-labs.com" rel="noreferrer">gvega@wit-labs.com</a></p>

<p>&gt; El 09-02-2016, a las 6:37 p.m., StrongSupport &lt;<a href="mailto:support@strongloop.zendesk.com"

[2016-02-16 22:29] cfjedimaster opened #297 "404 link in docs - LoopBack core concepts"
On this page, https://docs.strongloop.com/display/public/LB/LoopBack+core+concepts, the link to "Storage Service" (http://docs.strongloop.com/display/LB/Storage+service) goes to a 404.

[2016-02-17 00:46] ytimocin commented on #286
I have the same issue. I installed strongloop by "npm install -g strongloop" but:
$ slc loopback
-bash: slc: command not found

my node and npm versions are as follows:
$ node --version
v0.12.2
$ npm --version
3.6.0

Is there any solution?

[2016-02-17 15:45] rmg commented on #286
@ytmocin what does `npm ls -g --depth=0` show? Do you have npm configured to use a global module location that is not included in your `$PATH`?

[2016-02-17 17:55] cfjedimaster opened #298 "Misleading text in Troubleshooting docs"
This url, https://docs.strongloop.com/display/APIS/Troubleshooting, under Stuck interface, says:

This is a bit misleading as cookies are not the same as localstorage. Where the person would go in their devtools depends on their browser, but as all the modern browsers support checking LocalStorage, you should just tell them to go there. Although Firefox, at least, does not let you modify the value

[2016-02-17 19:08] ytimocin commented on #286
@rmg I uninstalled node and npm, downloaded the final version and installed again.
after some permission grants, I installed strongloop. but guess what? DIDNOT WORK! :)
this post helped me solve my problem: http://stackoverflow.com/questions/14803978/npm-global-path-prefix

now strongloop works perfectly.

[2016-03-03 18:50] JacquesPerrault opened #299 "slc loopback:swagger throwing "Cannot read property 'toLowerCase' of undefined""
I wrote a swagger definition, then downloaded it as JSON via "file download" at editor.swagger.io (file below).

When issuing `slc loopback:swagger` on that file, slc throws *Cannot read property 'toLowerCase' of undefined*.  I've tried on Windows and Mac, same error.

[code]

[2016-03-03 19:00] raymondfeng commented on #299
Can you post the full stacktrace?

[2016-03-03 19:09] JacquesPerrault commented on #299
doh!  sorry, here it is:

[code]

[2016-03-03 23:53] raymondfeng commented on #299
Was the swagger file generated by a tool? It has the `x-swagger-router-controller` extension under the path key:

[code]

[2016-03-04 06:25] JacquesPerrault commented on #299
I coded the entire .yaml by hand, it looks like:
[code]

[2016-03-04 07:07] raymondfeng commented on #299
Can you try the latest version? My PR https://github.com/strongloop/loopback-swagger/issues/30 should fix the issue.

[2016-03-04 16:27] JacquesPerrault commented on #299
Will do!  I'm on my way to the airport, and will pull as time allows; I may not be able to get to it until tomorrow.

[2016-03-10 05:30] gzurbach commented on #283
I'm having the same issue. Did you find a solution?

[2016-03-10 15:42] rmg commented on #297
@crandmck looks like this link is still stale/broken, can you fix it?

[2016-03-10 15:43] rmg commented on #298
@crandmck we should probably give @cfjedimaster access to edit the docs since he's now part of the team :-)

[2016-03-10 15:47] cfjedimaster commented on #298
I'd be fine with that - I may have access already. I know there are about 200 StrongLoop repos so if you wanted to point me in the right direction and assign to me, I'd be happy to. :)

[2016-03-10 18:07] crandmck commented on #297
Thanks for reporting @cfjedimaster.  Fixed.
The link is https://docs.strongloop.com/display/LB/Storage+component now.

[2016-03-10 18:07] #297 closed

[2016-03-10 18:23] crandmck commented on #298
@cfjedimaster Could you please fix this up as you see fit?  This text is pretty old and having the API "get stuck" may not even be an issue any longer.

[2016-03-14 15:43] cfjedimaster commented on #298
Ok - I failed - what's the repo for the docs?

[2016-03-14 16:50] crandmck commented on #298
@cfjedimaster It's not a GitHub repo, it's a Confluence wiki.
I'll send you email.

[2016-03-14 18:28] cfjedimaster commented on #298
Edited.

[2016-03-14 18:28] #298 closed

[2016-03-16 07:55] yahoohung opened #300 "findOrCreate in loop"
I have a interesting problem on loopback. It displayed wrong result when I was adding records with findOrCreate. Let's see the example.

[code]

I think it should be create 1 record with modelName '123' only, but I got 10 finally.

Is there something wrong? Thanks.

[2016-03-17 17:06] gunjpan opened #301 "Update node-inspector version in package.json"
Related: https://github.com/strongloop/loopback/issues/2152

[2016-03-21 15:22] devotox opened #303 "Install error strongloop 6.0.0, Node 5.9.0, NPM 3.7.3"
[code]

[2016-03-21 15:42] devotox commented on #303
This is the same issue on 5.8.0 and 5.9.0

[2016-03-21 22:39] skolesnyk commented on #247
Hi , guys!

So, is there a doc how to use custom SSH port with http+ssh ?

[2016-03-21 22:42] skolesnyk commented on #247
Please, update the docs accordingly ;)

[2016-03-21 22:49] skolesnyk opened #304 "HTTP Auth + SSH tunelling"
If I initially had deployed with HTTP auth and now have added SSH tunelling, I guess I need to use them both like
slc ctl --control http+ssh://user:pass@104.236.237.234:8701 log-dump 1 --follow

And it works! ;)

Might be useful to add this to the docs.
https://docs.strongloop.com/display/SLC/Securing+Process+Manager

Thanks for the awesome software package!

[2016-03-22 06:57] jas199 opened #305 "Logging for slc pm"
Hi,

I am starting strongpm with slc pm command and not via service.
The application goes down after some number of hits. Can i get the location where the log would be saved?

Now i have started using **nohup slc pm** and the logging is saved to nohup.out file. Now the application is up from a couple of hours and not going down.

Can the application going down be attributed to the slc log being du

[2016-03-22 19:11] Amir-61 commented on #300
Please don't create duplicate tickets; closing in favour of [this ticket](https://github.com/strongloop/loopback/issues/2148)

[2016-03-22 19:11] #300 closed

[2016-03-23 13:43] matthieupenchenat81 opened #306 "defining a delete remote method don't accepts parameters"
Hello,

I'm trying to define a custom remote method with delete http verb. I managed to do this remote method with a http post verb but not with delete. Is there a particular way to define a delete remote method with parameters?

When I try to set the delete http verb, I can go inside the remote method but pEmail and pTel is undefined...

You can see the following remote method just below:

![capt

[2016-03-23 18:43] luckymancvp opened #307 "install stroongloop"
Can not install stroongloop !!

Please help me !!
[code]

[2016-03-23 19:48] sam-github commented on #307
https://www.npmjs.com/package/strongloop  <--- clearly in the registry, no idea what registry you are using, but this is a config problem on your part.

[2016-03-23 19:48] #307 closed

[2016-03-24 02:40] luckymancvp commented on #307
@sam-github
Can you show me your registry ?

`https://registry.npmjs.org` is not a popular registry ?

[2016-03-29 21:34] #175 closed

[2016-04-11 18:08] sam-github commented on #299
@JacquesPerrault is this good now? can we close?

[2016-04-11 19:34] JacquesPerrault commented on #299
Yes, all set, thanks!

[2016-04-11 19:34] #299 closed

[2016-05-09 03:16] tktk8924 opened #309 "creating relation error "Getting started part II""
I'm trying ["Getting started part II"](https://docs.strongloop.com/display/public/LB/Define+model+relations) and having a problem with creating relation between CoffeeShop and Review models.

I got the following error:

[code]

I followed the following steps:

[code]

Versions:
* Node.js: v5.11.1
* strongloop: 6.0.0

Thanks.

[2016-05-09 08:44] JoeShi opened #310 "What is the difference of create and add in referencesMany relation"
These are the helper methods listed in [referencesMany](https://docs.strongloop.com/display/APIC/Embedded+models+and+relations#Embeddedmodelsandrelations-ReferencesMany)  relationship. Can someone tell me the difference of `create` and `add`, `destroy` & `remove`?

[code]

[2016-05-09 14:39] sam-github commented on #310
@JoeShi best posted against github.com/strongloop/loopback

[2016-05-09 14:39] sam-github commented on #309
cc: @superkhau

[2016-05-09 18:52] superkhau commented on #309
This issue was moved to strongloop/loopback-getting-started-intermediate#20

[2016-05-09 18:52] #309 closed

[2016-05-25 15:03] geminiyellow opened #311 "`slc loopback:datasource` not working"
[code]

node: 6.2.0
npm: 3.9.2

[code]

[2016-05-27 11:32] daankets opened #312 "Slc deploy does not use ssh config"
All our production and acceptance servers are accessible only through an ssh gateway host. This host is configured in the user's ssh config file like this:

[code]

However, slc deploy seems unable to connect through the gateway. Instead, we need to establish a tunnel manually, and then deploy to localhost. Would it be possible to use the default ssh config if available?

[2016-06-10 01:01] jfrazx commented on #296
I had a similar issue.

[code]

slc was available afterward though.

[code]

Attempting to utilize slc would result in errors.

[code]

Installed rx

`$ npm install -g rx`

Running again

[code]

Same deal for others, so:

[code]

Then

[code]

So I uninstalled

`$ npm uninstall -g strongloop`

and reinstalled

`$ npm install -g strongloop`

and now.

[code]

Success.

Not sure why it worked, but

[2016-07-04 20:08] Sequoia opened #313 "`http+ssh://` "protocol" is confusing"
[This](https://docs.strongloop.com/display/SLC/Securing+Process+Manager#SecuringProcessManager-UsingSSHtunneling) is very confusing as it the URI is using a standard URI scheme called `http+ssh`. In fact, it appears [no such scheme exists](http://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml), or it's not documented.

I spent about an hour attempting to research `http-ssh` this before rea

[2016-07-04 20:46] sam-github commented on #313
It documented in our docs, sorry you were confused, though I'm confused as to why you were spending any time researching it... what were you looking to find? The behaviour is described in the first link you reference.

Non-standard URI scheme's are wide-spread.

[2016-07-04 20:46] #313 closed

[2016-08-09 09:59] apinnecke opened #315 "Error executing `slc loopback`"
Hey all,

I've got an error executing `slc loopback`. It doesn't matter weather I choose v2.x or v3.x.

These are my versions and my output:
[code]

Any ideas what's the problem here?

[2016-08-09 12:31] apinnecke commented on #315
Seems like the problem got fixed here: https://github.com/strongloop/loopback-workspace/commit/fef090d35ee71843afc9c06ff96e5a056f8fe02e. Applying this change manually fixes the issue for me, so basically here is just an update of the `loopback-workspace` required.

[2016-08-30 12:44] azatoth opened #316 "slc loopback:model crashes when depending on git url"
Having a dependency for "loopback" to "https://github.com/strongloop/loopback.git#2.x" results in `slc loopback:model` to crash with following error:

[code]

[2016-08-30 13:23] bajtos commented on #316
Closing in favour of https://github.com/strongloop/loopback-workspace/issues/319.

[2016-08-30 13:23] #316 closed

[2016-08-31 10:18] SmythConor opened #317 "loopback-datasource-juggler version"
I've been trying to work through the loopback getting started guide, however any attempts to install strongloop and run an application produces errors. The erros all seemed to be due to the version of loopback-datasource-juggler specified in the package.json.

Manually updating loopback-datasource-juggler to the newest(3.0.0-alpha.7) version fixes any issues that I had. Here's a screenshot of the

[2016-09-01 14:55] #315 closed

[2016-09-06 21:05] notbrain opened #319 "npm install strongloop -g started failing today on loopback-sdk-angular-cli/bin/lb-ng ENOENT"
Saw soemthing was up on our Travis CI builds but it turns out it's some issue with the strongloop install not being able to find a binary file for the `loopback-sdk-angular-cli` package. Can anyone else install strongloop right now? We've tried on (travis), local node 6.3, 6.4, npm 3.10.x.

When I try to go in and see which node_modules have been created, the strongloop folder does not exist. So n

[2016-09-06 21:06] sam-github commented on #319
duplicate of https://github.com/strongloop/loopback/issues/2714

[2016-09-06 21:06] #319 closed

[2016-09-06 21:07] notbrain commented on #319
@sam-github thanks

[2016-09-06 23:17] astopo opened #320 "Issue installing strongloop"
I cannot install strongloop globally, because `/usr/local/lib/node_modules/strongloop/node_modules/loopback-sdk-angular-cli/bin/lb-ng` does not exist. I initially found this issue when trying to deploy to Heroku, using the buildpack [here](https://github.com/strongloop/strongloop-buildpacks), which kept failing because it attempts to install strongloop. Uninstalled strongloop locally on my machine

[2016-09-06 23:28] forivall commented on #320
Duplicate of strongloop/loopback#2714, already fixed by #318, just waiting on maintainers to publish a new version to npm.

[2016-09-06 23:29] astopo commented on #320
Yay! Thank you

[2016-09-06 23:38] davidcheung commented on #320
Thanks for bringing this up, the fix has been published on https://github.com/strongloop/strongloop/commit/979a0458a3d3e7b365ce10e963ac5160629049a8

[2016-09-06 23:38] #320 closed

[2016-09-06 23:39] astopo commented on #320
Thanks for the update!

[2016-09-07 00:59] rmg commented on #319
FYI, this was resolved by #318 and released as strongloop@6.0.2

[2016-09-18 21:22] frankorama opened #321 "Error installing Strongloop 6.0.1 with NVM: folder does not exist"
OS:  Ubuntu 14.04
Installed Node.js 6.2.2 using NVM.
I installed the required prerequisites for strongloop as per the web site's installation instructions.
When I attempt to install strlongloop v6.0.1
`npm install -g strlongloop@6.0.1`
I receive the following error:

[code]

[2016-09-19 10:23] bajtos commented on #321
This issue should have been fixed in https://github.com/strongloop/strongloop/pull/318, which was released in `6.0.2`. Please `npm install -g strongloop@6.0.2`.

I am wondering where is the version `6.0.1` coming from. Is this part of our documentation? (I hope not.) Did you @frankorama intentionally install a specific version of strongloop, instead of letting npm to pick the latest version?

cc @

[2016-09-19 10:23] #321 closed

[2016-09-19 10:56] frankorama commented on #321
@bajtos yeah I did.  6.0.2 was causing problems with my code (backwards compatibility?) and I successfully installed 6.0.1 on my iMac & my Windows 10 laptop.  I wanted to continue coding my app on Linux, but suddenly couldn't install.  I'll install 6.0.2 and see what changes to my code I need to make.

[2016-09-22 06:16] m1xf1t opened #322 "Strong Loop Registration link is down!"
https://strongloop.com/register/
CloudFront attempted to establish a connection with the origin, but either the attempt failed or the origin closed the connection.

[2016-09-22 15:11] sam-github commented on #322
It's back! Thanks for the report.

[2016-09-22 15:11] #322 closed

[2016-10-04 07:22] rtodea opened #323 "Disable the use of `strong-agent` when using `slc start`"
Because of the issue discussed [here](https://github.com/Automattic/kue/issues/953#issuecomment-251200898), I want to disable the `strong-agent` wrapping of `redis`.

Something like this does not work:

[code]

Any suggestions?

[2016-10-06 14:07] dzonatan opened #324 "Global installation is broken due to sqlite3"
`npm install -g strongloop` got broken.

There are a lot of issues describing this error:
strongloop/strong-arc#1733
npm/npm#14188

But they are in the wrong place due to misleading npm error.
The things got broken after `sqlite3` new version `3.1.5` release.
There is already an issue mapbox/node-sqlite3#720 for that.

The actual dependency to `sqlite3` is in [this package](https://github.com/stro

[2016-10-06 15:31] HenrikGr commented on #324
I reported a question on stackoverflow and wonder if this is related to my propblems?
http://stackoverflow.com/questions/39896468/resource-busy-or-locked-when-installing-apiconnect-via-npm

[2016-10-06 23:40] rmg commented on #324
Closing since #326 was merged, which pinned the version to 3.1.4.

For extra coverage, it looks like mapbox/node-sqlite3#720 has been resolved (only minutes ago!) by the release of 3.1.6, which should fix the problem for previous releases.

[2016-10-06 23:40] #324 closed

[2016-10-07 21:58] HenrikGr opened #328 "File path or file name too long when installing apiconnect in Windows 10"
I did have a problem with installation of apiconnect the other day, and I think it was resolved by ensure sqlite 3.1.6 was installed instead of 3.1.5.

After that, my installation goes better but I get an error saying file paths or names are to long.

![apiconnecterror2](https://cloud.githubusercontent.com/assets/11950811/19206449/680ae0bc-8ce9-11e6-80fc-20d1f5518617.PNG)

Laptop:
Windows 10, do n

[2016-10-10 21:03] persimmons opened #329 "Fails to install on Node 6/NPM 3 with `" Cannot find module 'events/' "` error"
Hello,

I installed Strongloop globally with `npm i -g strongloop` and got a critical failure in the install scripts.  This failure happens on strongloop@6.0.3, strongloop@6.0.2, strongloop@5 on node 6.7.0/npm 3.10.3/OSX 10.11.6.

The install fails with this error:

[code]

I ran into this failure initially running Node v6.4.0, so I updated / wiped my globally installed modules with Node 6.7 and N

[2016-10-11 12:29] #317 closed

[2016-10-11 14:20] amerishk opened #330 "Error : "Cannot redefine property: getConnection" using slc run to start a server"
Hello,

When using oracledb (node-oracle) module to establish a connection in a SLC Project, we are getting "error: uncaughtException: Cannot redefine property: getConnection ". This is happening whenever we use "SLC RUN" to start the node server. On the other than, when we use "NODE ." everything works. We asked the same issue in node-oracledb (git) (link https://github.com/oracle/node-oracledb/i

[2016-10-21 02:13] dmastag commented on #285
I know this is a old post but for anyone getting this issue I just encountered the same problem.
Finally I used slc arc and tried to Build from there.

Make sure that the "Fully qualified path to archive" has a correct value
It should be something like  ../project-1.0.0.tgz

[2016-10-30 16:01] dkulygin commented on #323
A workaround that works for me is to manually install strong-agent version 2.0.4 for strong-pm.

[2016-11-02 20:26] rtodea commented on #323
@dkulygin, how would you install strong-agent version 2.0.4?

I usually do a:
[code]
to see which versions get installed:
[code]

My output:
[code]

[2016-11-03 15:59] sam-github commented on #323
Underlying issue is https://github.com/strongloop/strongloop/issues/323

Its not possible to disable strong-agent when using strong-pm or `slc start` currently, sorry. It should be, there is internal support, but its not exposed.

We'll fix the underlying issue for now.

[2016-11-03 16:02] sam-github commented on #323
issue moved to https://github.com/strongloop/strong-pm/issues/374

[2016-11-03 16:02] #323 closed

[2016-11-21 20:00] Amir-61 opened #332 "idInjector: false seemingly ignored w/mongodb connector"
_From @CNSKnight on November 11, 2016 21:59_

[code]
YAML Sample:
[code]
Sample PUT Request:
[code]
Response _always_ returns eg:
[code]
And stores eg:
[code]

Additionally, I've tried _id as an integer with same results (likely a mongo reserved thing)
Also, API Designer reports **Additional properties not allowed: idInjection** but saves the YAML
(I typically ``$ slc deploy...``)

_Copied from or

[2016-11-21 20:02] #332 closed

[2016-12-16 17:48] vinodkottem opened #333 "Strongloop-DB2 transactions and connection issue"
I am using DB2 DB for my project and I am trying to implement  transactions.

But as per my understanding from strongloop documentation, strongloop doesn't support transcations for DB2. Hence, I tried to use ibm_db package to implement the transaction which is working fine but when I tried to integrate same code with strongloop services it is throwing an error.

events.js:72
        throw er; // U

[2016-12-17 10:56] #333 closed

[2016-12-20 05:57] DongWenHu opened #334 "How to make id increase from a set value?"
I don't want to make id increase from 1, can I make id increase from a set value?
Or can I make id is an uuid?

[2016-12-20 15:28] sam-github commented on #334
@superkhau

[2016-12-20 17:48] superkhau commented on #334
This issue was moved to strongloop/loopback#3043

[2016-12-20 17:48] #334 closed

[2017-01-17 14:42] ZYTRIXNARASIMHA opened #335 "strongloop with mongodb unknown id"
HI team,

We are using strongloop with mongodb for one of our client. We are facing an issue with strongloop when mongodb id is having only numbers. We are unable access that record and even unable to delete or update.
Below is the error we are getting.
"name": "Error",
    "status": 404,
    "message": "Unknown  id \"585511374780906341303131\".",
    "statusCode": 404,
    "code": "MODEL_NOT_FOUN

[2017-01-17 16:22] sam-github commented on #335
/to @superkhau

[2017-01-18 00:03] superkhau commented on #335
@ZYTRIXNARASIMHA Can you provide a sample repo for us to reproduce the issue on our end? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

@cgole @ritch Priority and should we pass this off to @kjdelisle since @strongloop/sq-lb-apex is taking care of lb-con-mongodb ATM.

cc @kjdelisle

[2017-01-18 00:03] superkhau commented on #335
@cgole This repo needs proper labels too.

[2017-01-26 16:17] raymondfeng commented on #330
Close it as a duplicate of https://github.com/strongloop/loopback/issues/2873

[2017-01-26 16:17] #330 closed

[2017-01-27 19:20] #280 closed

[2017-03-06 20:36] janpansa opened #337 "Fails to install "strong-mesh-client@1.6.3 Failed to exec install script""
When I install strongloop using npm, I get the following errors, preventing strongloop from installing:
[code]

[2017-03-07 01:50] rmg commented on #337
Upstream as strongloop/strong-mesh-client#53.

[2017-03-07 02:13] rmg commented on #337
Up-upstream as request/request#2585.

[2017-03-07 09:43] janpansa commented on #337
@rmg Thanks for the help so far. I noticed a new version of strong-mesh-client was released, however, I still receive the same error report :

[code]

[2017-03-07 10:19] janpansa commented on #337
I managed to get it working by using this "npm -g install **--ignore-scripts** strongloop"

[2017-03-07 11:05] ccoeurderoy commented on #337
@janpansa Running `npm -g install --ignore-scripts strongloop` works for me too ! To deploy on Heroku, I had to fork **strongloop-buildpacks** and added the same command. Here is my fork for those who are interested : https://github.com/yelloan/strongloop-buildpacks.

[2017-03-07 17:32] rmg commented on #337
Unfortunately the `--ignore-scripts` disables scripts that are somewhat important for Arc functionality.

Squashing to source of the issue in `strong-mesh-client` just ended up shifting it to `generator-loopback` as the source of the incompatible version of `request`.

@janpansa @ccoeurderoy if you aren't using Arc then the workaround you are using _should_ be ok.

[2017-03-07 18:10] sam-github commented on #337
If you aren't using Arc, you shouldn't be using the "strongloop" build pack!

[2017-03-07 18:23] janpansa commented on #337
@rmg @sam-github thanks for the info ! I was using arc in the beginning of the project as it was rather useful. I do pretty much all of the work manually now that I understand the project structure.

Thanks for the input.

[2017-03-07 18:39] sam-github commented on #337
To be crystal clear: even if you use Arc locally on your machine to do development that in *absolutely no way* means you need arc/strongloop installed on your buildpack when you deploy your app.

An app built with arc is just a normal node/loopback app, you can use the default node.js bluemix buildpack, and `cf push` your arc-built app to it.

[2017-03-08 00:10] rmg commented on #337
Released `strong-mesh-client@1.6.5`. You should now be able to do `npm install -g strongloop` without using `--ignore-scripts`.

[2017-03-08 05:36] janpansa commented on #337
@rmg Thx ! Awesome !

[2017-03-08 05:36] #337 closed

[2017-03-08 08:14] ccoeurderoy commented on #337
@rmg @sam-github Thanks for the info and your quick reaction !

[2017-03-08 17:58] sam-github commented on #337
Hey, all thanks are due to @rmg, I looked at it for about half an hour, and couldn't figure out the bizarre deps - the requiring of packages that aren't actually depended on made things fairly hard to understand :-)

@rmg did you report anything upstream? was there a single source of breakage?

[2017-03-09 00:10] rmg commented on #337
@sam-github yes, that was the "Up-upstream" I referenced in a previous comment: request/request#2585. I didn't take it any further up stream than that since it was already approaching "a butterfly flapped its wings" level of removal from the actual effect.

[2017-03-13 19:28] rmg commented on #303
Closing since this is now almost a year old and is similar to #337 which was resolved recently.

[2017-03-13 19:28] #303 closed

[2017-03-13 19:29] rmg commented on #329
Closing since this is similar to #337 which was resolved recently. Please re-open if you are still seeing this issue.

[2017-03-13 19:29] #329 closed

[2017-03-13 19:32] rmg commented on #193
Stale, closing.

[2017-03-13 19:32] #193 closed

[2017-03-13 19:35] rmg commented on #218
This issue is quite old and debugging of node apps has changed dramatically since this was opened, including a standalone `node-inspect` CLI maintained by the Node.js foundation: https://github.com/nodejs/node-inspect

[2017-03-13 19:35] #218 closed

[2017-03-13 19:37] rmg commented on #296
Closing, since this appears either resolved or stale. Likely resolved by improvements that have been made to `npm` since this issue was originally opened.

[2017-03-13 19:37] #296 closed

[2017-03-13 19:38] rmg commented on #290
Closing since this issue predates https://github.com/nodejs/node-inspect

[2017-03-13 19:38] #290 closed

[2017-03-13 19:39] rmg commented on #284
Closing as resolved.

[2017-03-13 19:39] #284 closed

[2017-03-13 19:41] rmg commented on #301
Is this still planned now that https://github.com/nodejs/node-inspect exists?

[2017-03-13 19:43] rmg commented on #304
The combination of `http+ssh` and http-auth is now documented on the linked page.

[2017-03-13 19:43] #304 closed

[2017-03-13 19:45] rmg commented on #305
Closing since this was either addressed elsewhere or it is simply too late for any response to qualify as "urgent".

[2017-03-13 19:45] #305 closed

[2017-03-13 19:46] rmg commented on #306
Closing since this issue is quite old and was likely answered somewhere more appropriate such as Stackoverflow.

[2017-03-13 19:46] #306 closed

[2017-03-13 19:46] #310 closed

[2017-03-13 19:49] rmg commented on #311
If this is still a problem please open a new issue against https://github.com/strongloop/generator-loopback. Alternatively, take a look at the new [loopback-cli](https://strongloop.com/strongblog/announcing-the-loopback-cli/).

[2017-03-13 19:49] #311 closed

[2017-03-13 19:51] rmg commented on #295
This is a better question for Stackoverflow. If it has not already been asked and answered, elsewhere, please post your question there.

[2017-03-13 19:51] #295 closed

[2017-03-13 19:53] rmg commented on #292
Closing as a stale issue. If no answer was found elsewhere, please try asking on Stackoverflow, the loopbackjs mailing list, or opening an issue on https://github.com/strongloop/loopback.

[2017-03-13 19:53] #292 closed

[2017-03-13 19:54] rmg commented on #285
This issue appears to be dead or resolved elsewhere.

[2017-03-13 19:54] #285 closed

[2017-03-13 19:57] rmg commented on #237
This discussion is old. If it is still a concern, please consider opening a new issue on http://github.com/strongloop/strong-pm

[2017-03-13 19:57] #237 closed

[2017-03-13 19:58] #256 closed

[2017-03-13 19:59] rmg commented on #275
This issue seems to have gone stale. Please re-open if it is still a problem.

[2017-03-13 19:59] #275 closed

[2017-03-13 19:59] #278 closed

[2017-03-13 20:01] rmg commented on #283
Closing as per comments on #285.

[2017-03-13 20:01] #283 closed

[2017-03-14 05:35] piyuaryan opened #338 "Installation succeeds but has many compiler errors"
I'm unable to install strong loop using latest version of Node(v7.7.2) and NPM(4.1.2).
Please help.

[code]

[2017-03-20 21:42] rmg commented on #338
@piyuaryan this is an optional dependency so the build failure should only have been treated as a warning. The output looks like it succeeds at the end:
[code]

Does `slc --version` work?

[2017-03-21 01:25] piyuaryan commented on #338
Well, slc --version works, but while installation it gave me error and build (make) failed constantly.

Anyway, my server is working now so I'm not looking for urgent fixes.
Thanks.

[2017-03-31 04:34] myvo opened #339 "slc ctl log-dump show nothing after got error response"
Hi,

We have a test plan to stress test with target is 1K request per second. However after got HTTP no response or 500 Internal error, we run `slc ctl log-dump SVC [--follow]` on server, it shows nothing. So we don't know where the error's happened and how to fix.

What should I do to fix it?
Thank you in advance!

[2017-04-05 09:50] wanglong167 opened #340 "Can not register to receive mail"
Can not register to receive mail

[2017-04-05 17:15] sam-github commented on #340
Hi, I've no idea what you are  trying to report, please add some details (what you did, what you expected).

[2017-04-05 17:19] wanglong167 commented on #340
https://strongloop.com/register/
Can't register can't receive the mail

[2017-04-05 17:19] wanglong167 commented on #340
https://strongloop.com/register/
Can't register can't receive the mailhttps://strongloop.com/register/
Can't register can't receive the mail

[2017-04-05 17:23] sam-github commented on #340
@sumitha @rmg

[2017-04-05 17:33] DaveYVR commented on #340
Are you registering for the newsletter? Just tested that functionality and it works properly.

The link to API Connect should be working as well.

[2017-04-05 17:33] rmg commented on #340
@wanglong167 are you seeing any error messages?

[2017-04-06 02:21] wanglong167 commented on #340
https://github.com/strongloop/strong-arc  How to register account

[2017-04-06 06:40] wanglong167 commented on #340
Strong-arc subscription Can open source?

[2017-04-06 06:40] wanglong167 commented on #340
@sumitha @rmg

[2017-04-06 18:04] DaveYVR commented on #340
There are no plans to Open Source Arc, and Arc itself has reached end of life and been replaced by API Connect. We recommend Arc users move to the Essentials edition of API Connect.

Additional details can be found here:

https://strongloop.com/api-connect-faqs/

[2017-04-07 03:01] wanglong167 commented on #340
tks

[2017-04-07 03:01] #340 closed

[2017-05-15 15:50] muhammadyou opened #341 "Windows: Unable to install loopback"
Error Screenshot:

http://tinypic.com/view.php?pic=1zg9iwz&s=9#.WRnNstKGPIU

[2017-05-19 11:40] paulcedrick opened #342 "Strongloop issue with nsp"
Hi everyone,

It seems that whenever nsp checks strongloop package, it displays this error:
[scan-nsp.txt](https://github.com/strongloop/strongloop/files/1014035/scan-nsp.txt)

Any help would be appreciated :)

[2017-05-19 14:07] sam-github commented on #342
strongloop is being deprecated, please use `apiconnect` instead

Also, strongloop is client-side tooling, it isn't a production dependency, so those security issues aren't really relevant.

[2017-06-28 17:30] ashumz opened #343 "update README to indicate that SLC is deprecated, point people to LoopBack"
We should update the README to indicate that Strongloop/slc is deprecated, specifically so it is also reflected on the NPM package page here: https://www.npmjs.com/package/strongloop (@rmg indicated that that page pulls from the README)

People are still downloading Strongloop package (~6000 downloads/month) and getting error messages about things being deprecated, and can no longer use the advert

[2017-07-09 09:07] aartiCEL opened #344 "Arrow keys not working on MacOS Sierra 10.12.5"
Hi
I'm trying to run slc loopback on my Mac Sierra machine, but it gets stuck on the version:

? What's the name of your application?
? Which version of LoopBack would you like to use? (Use arrow keys)
  2.x (long term support)
  3.x (current)

I am unable to use the arrow keys, or even move beyond this time. I could not even Ctrl-C it anymore beyond this, and finally have to kill the process from

[2017-07-10 21:14] sam-github commented on #344
`slc` is superceeded by https://www.npmjs.com/package/loopback-cli, please use it instead

[2017-07-10 21:14] #344 closed

[2017-07-10 21:16] sam-github commented on #343
@ashumz can you PR an update to the README? Or at least submit the exact text you or OM want to see.

[2017-07-11 00:44] aartiCEL commented on #344
Thanks so much! I had installed loopback-cli but that wasn't working either.

I then downgraded my node to v.6.11.0 and installed apiconnect. Then somehow everything started working. Don't know whether it was because of downgrading the node version, or it had something to do with installing apiconnect -- as I did not check check in between executing the downgrade and installing apiconnect to see i

[2017-07-11 10:12] aartiCEL opened #345 "Implementing geoJson Polygon through loopback..."
Hi,

Loopback has a geopoint type, but we would also need to have the polygon type, and execute geospatial queries... for example: if a certain point lies in a given polygon, or if a point is near my current location.

Could you please point me to the appropriate documentation/ examples on how this could be used?

Thanks so much,
Aarti

[2017-07-11 10:47] aartiCEL opened #346 "Debugging help"
Hi,
I am getting the following error on:
node .

events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: getaddrinfo ENOTFOUND CELLAP036.local
    at errnoException (dns.js:28:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:76:26)

Can anyone help with how to debug this please?

Thanks,
Aarti

[2017-07-11 16:58] sam-github commented on #345
Please ask in one of the developer forums, either gitter or gmail.

http://loopback.io/resources/

[2017-07-11 16:58] #345 closed

[2017-07-11 17:11] #346 closed

[2017-07-11 17:12] #342 closed

[2017-07-11 17:13] sam-github commented on #341
Please report to the package that you are trying to install. I can't tell, maybe its loopback-cli?

[2017-07-11 17:13] #341 closed

[2017-07-11 17:14] #338 closed

[2017-07-11 17:14] sam-github commented on #301
no

[2017-07-11 17:14] #301 closed

[2017-07-11 17:16] sam-github commented on #328
Please report to apiconnect if you are installing apiconnect, thanks.

[2017-07-11 17:16] #328 closed

[2017-07-11 17:16] #335 closed

[2017-08-02 02:52] lmyzzu opened #347 "install failed"
node v8.2.1
verbose npm  v5.3.0
error code EINTEGRITY
error sha1-gkGEMv32K0yFwc5dLpnuL4br1OI= integrity checksum failed when using sha1: wanted sha1-gkGEMv32K0yFwc5dLpnuL4br1OI= but got sha1-ubxPxyg9EdftQMmmAP0SCHbKN60=. (1582009 bytes)
verbose exit [ 1, true ]

[2017-08-03 13:35] sam-github commented on #347
This is a problem with your local setup or machine, the tgz fetch via HTTPS from npmjs.org was corrupt. Try again, if its reproducible, look at your network for problems.

Works for me with same node/npm.

Also, not sure why you are still using this package, you should be using the Looback CLI, or `apiconnect`.

[2017-08-03 13:35] #347 closed

[2017-09-25 16:52] ArKam commented on #343
It would be nice to indicate a production ready open-sourced alternative too ;-)

[2017-09-25 20:19] sam-github commented on #343
LoopBack is open source and production ready, what are you looking for?

[2017-09-26 12:36] ArKam commented on #343
Just looking for a process manager handling at runtime cluster grow and shrink, not looking for a full framework ;-)

[2017-09-26 18:43] sam-github commented on #343
strong-supervisor and strong-pm continue to exist, aren't deprecated, and shouldn't be used with the `slc` wrapper anyway, not in production at least.

Check out strong-supervisor

[2017-10-02 14:40] ArKam commented on #343
OK, I'll have a look at this process manager. Is there a reason why slc is now deprecated?
It seems to be way more powerful and feature full than any other project such as pm2 etc.

[2017-10-03 15:44] sam-github commented on #343
slc is just a bundling together of a set of features that are available through other packages. strong-supervisor+strong-pm+apiconnect+loopback-cli together are the same as slc. We don't use the slc wrapper anymore, so aren't supporting it.

[2017-10-06 08:51] ArKam commented on #343
ok, thanks a lot for this clear statement. I'll so use the subset packages from now.

[2017-10-19 15:31] youngtk96 commented on #286
I know this post is old but this solution did not fix my issue. **What i did to resolve this issue** is to make sure you are running power shell or Git Bash as an administrator. If you are on Ubuntu make sure you run SUDO

[2017-11-09 04:13] mgwhitfield opened #348 "(Windows) Strong-debugger Error: `C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe` failed with exit code: 1"
Have followed numerous steps to remedy potential node-gyp/Windows conflicts.  Other modules seem to compile with node-gyp fine.

[code]

[2017-11-09 04:17] mgwhitfield opened #349 "(Windows) Models not showing via `slc loopback:acl` AND/OR `lb acl`"
Please see this video:

https://drive.google.com/file/d/1UiUfLpNimF-ex1r5ibmwpAl4J6g5WfQ9/view

This should show that even though there is a model defined and given that it is exposed via `model-config.json` it does not become configurable via the `lb acl` tool.

[2017-11-09 04:23] mgwhitfield commented on #349
Fixed

[2017-11-09 04:23] #349 closed

[2017-11-26 00:56] bestvow commented on #343
I have the same question , I can't register strongloop scl ARC , now I can use the  loopback-cli . Thanks!

[2018-01-29 15:16] Yankee-by commented on #296
I have the same issue.
[code]
`sudo npm i -g strongloop` generate an error:
[code]
`ls -1 /usr/local/lib/node_modules/` result:
[code]
but
[code]

[2018-02-02 11:30] herbertscruz commented on #296
I also have the same problem.

[2018-02-02 12:23] javahaxxor commented on #296
me too

[2018-02-04 02:50] woooooopwop commented on #296
Same here

[2018-02-05 09:32] javahaxxor commented on #296
This worked for me

[2018-02-05 10:24] Yankee-by commented on #296
not in my case

[2018-02-14 08:41] konkor opened #354 "Can't install strongloop on GNU/Linux Debian"
When I'm trying to install strongloop on Debian, I have this:
[code]
Stable Nodejs is installed from official repository via _apt-get install nodejs_ globally. So node_modules in the `/usr/lib/node_modules` folder not in the local folder.
[code]
I have googled a bit and tried _# npm install -g strongloop --allow-root_ the same result. Also I have tried:
[code]
It looks like working but without som

[2018-02-16 21:05] jpmyob commented on #343
Yes - please. I've watched a few videos on loopback, and they all make use of strongloop and arc, So I installed THAT, and was confused by the login / not being able to reg/login...

[2018-02-26 04:22] jitbasemartin commented on #354
I don't know if it's a good fix but it works for me

[code]

My setup:
[code]

[2018-02-27 15:23] Yankee-by commented on #296
fixed it this way https://github.com/strongloop/strongloop/issues/354#issuecomment-368386434

[2018-05-28 13:02] jrandria commented on #354
For me:

[code]

works well in windows

[2018-07-03 07:10] anindyasund opened #363 "ENOENT: no such file or directory "aws-sign" with fresh install strongloop"
Showing ENOENT: no such file or directory

### supporting information:

 - `npm -v` prints: 5.6.0
 - `node -v` prints:v8.11.3
 - `npm config get registry` prints:https://registry.npmjs.org/
 - Windows, OS X/macOS, or Linux?:Windows 10

``PS C:\Windows\system32> npm install -g strongloop
npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemai

[2018-07-18 12:07] #363 closed, assigned to nobody

[2018-08-15 14:30] cdjim commented on #338
I encountered the exact same compiler errors, though SLC works after installation.

Any further update on how to solve the above errors?

[2018-08-15 19:42] akinason opened #364 "Deprecated warning on dependent packages"
In trying to install strongloop on my ubuntu 16.04 using NPM, i get a lot of deprecated warnings on dependent packages.
 Below is a part of the warning i was able to copy.

`sudo npm install strongloop -g

npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
npm WARN deprecated socks@1.1.9: If using 2.x branch, please upgra

[2019-10-03 02:07] rsp commented on #343
@sam-github Is the slc **still** deprecated?
You wrote to use `strong-pm` but on https://strong-pm.io/ **and** https://github.com/strongloop/strong-pm all of the examples show `slc` command.
Since your comments here are two years old, I'd like to clarify if the entire strong-pm is wrong in the recommended commands? OR is strong-pm outdated as well? Thanks for the clarification.